div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
  border-color: red;
}

.woocommerce-cart table.cart img {
  width: 90px;
}

.woocommerce-cart table.cart .product-thumbnail  a {
  display: inline-block;
  vertical-align: middle;
  line-height: 100%;
}

.woocommerce table.shop_table td {
  text-align: center;
}

.woocommerce form .form-row.woocommerce-invalid .select2-selection--single,
.woocommerce form .form-row.woocommerce-invalid select .select2-selection__rendered { 
  border-color: #a00 !important;
}

div.wpcf7-response-output {
  margin-left: 0;
  margin-right: 0;
  font-size: 12px;
  padding-right: 10px;
  padding-left: 10px;
}

.cart_s {
  margin-bottom: 15px;
}

/*.cart_s:last-child {
  margin-bottom: 0;
}*/

span.wpcf7-not-valid-tip {
  font-size: 12px;
}

.disabled-ajax-btn {
  pointer-events: none;
  cursor: not-allowed;
}

.ajax-constructor-response:empty {
  display: none;
}

.ajax-constructor-response {
  text-align: center;
  color: green;
  font-size: 18px;
  font-family: "PT Serif";
  line-height: 27px;
}

.ajax-constructor-response a {
  text-decoration: underline;
  color: green;
}

.ajax-constructor-response a:hover {
  text-decoration: none;
}

.cart-empty-wrap,
.cart-wrap,
.my-acc-nav-wrap,
.checkout-wrap {
  padding-top: 50px;
  padding-bottom: 50px;
}

[name="coupon_code"] {
  width: 120px !important;
  margin-right: 10px !important;
}

@media screen and (max-width: 370px) {
  [name="coupon_code"] {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
}

.woocommerce-view-order .woocommerce-MyAccount-content .container.entry-content {
  padding-left: 0;
  padding-right: 0;
}

.woocommerce-Button.button[name="login"] {
  margin-right: 14px;
}

.woocommerce.single-product div.product form.cart div.quantity {
  margin-top: 4px;
}

.woocommerce table.shop_attributes td {
  padding: 8px 15px;
}

.user-not-logged .my-acc-nav-wrap .entry-title {
  display: none !important;
}

.checkout_coupon.woocommerce-form-coupon .form-row.form-row-first {
  width: 130px !important;
  margin-right: 10px;
}

@media screen and (max-width: 651px) {
  .checkout_coupon.woocommerce-form-coupon .form-row.form-row-first,
  .checkout_coupon.woocommerce-form-coupon .form-row.form-row-first [name="coupon_code"] {
    width: 100% !important;
  }
  
  .woocommerce form.checkout_coupon .form-row.form-row-last {
    width: 100% !important;
  }
}

.checkout_coupon.woocommerce-form-coupon .form-row.form-row-last {
  float: none !important;
}

.nav-slide + .woocommerce-message {
  max-width: 1096px;
  margin: 50px auto 0;
}

.woocommerce ul.order_details li {
  margin-bottom: 20px !important;
}

.cart-side {
  max-height: calc(100vh - 220px);
  overflow: auto;
  padding-bottom: 10px;
  line-height: 28px;
}

@media screen and (max-height: 450px) {
  .cart-side {
    max-height: calc(100vh - 180px);
  }
}

.entry-title {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 1.225;
  margin-bottom: 1.05em;
}

#secondary .widget {
  border-top: 4px solid #1a1a1a;
  padding-top: 1.615384615em;
  font-size: 0.8125rem;
  line-height: 1.6153846154;
}

#secondary .widget .widgettitle {
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 0.046875em;
  line-height: 1.3125;
  margin: 0 0 1.75em;
  text-transform: uppercase;
}

.single-product .container {
  min-height: 0;
}

.side-holder ul.product-length-variations {
  display: none;
}

.side-holder ul.product-length-variations.active-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}