/*
Theme Name: Base
Author: Anonymous
Author URI:
Version: 1
Description: Base theme for Wordpress
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: base
Tags: one-column, two-columns
Theme URI:
*/

$breakpoints: (
	'xs-phone': 375px,
	'phone': 667px,
	'tablet': 768px,
	'desktop': 1024px,
	'widescreen': 1440px
);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';

@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/cms-reset';
@import 'base/forms';
@import 'base/wp-reset';
@import 'base/typography';
@import 'base/woo';


body{
	position:relative;
	&:after{
		display:none;
		content:'';
		position:absolute;
		top:0;
		bottom:0;
		right:0;
		left:0;
		z-index:10;
		background:rgba(0,0,0,0.4);
	}
	&.nav-active{
		position:fixed;
		top:0;
		bottom:0;
		left:0;
		right:0;
		z-index:2;
		.nav-slide{
			transform:translate(0px);
			transition-duration: 0.8s;
		}
		&:after{
			display:block !important;
		}
	}
	&.page-scrolled{
		#header{
			box-shadow:0px 4px 20px 0px rgba(0,0,0,0.2);
		}
	}
}



#wrapper{
	width:100%;
	height:100%;
	display:table;
	table-layout:fixed;
	margin:0 auto;
	overflow:hidden;
}
.w1{
	width:100%;
	overflow:hidden;
	position:relative;
/* 	padding-top:104px;
	@include media('<tablet') {
		padding-top:82px;
	} */
}
.container{
	max-width:1096px;
	margin:0 auto;
	padding:0 15px;
	&:after{
		display:block;
		clear:both;
		content:'';
	}
}
.bg-stretch{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:1;
	background-size:cover;
	background-position:50%;
}
.vhidden{
	visibility:hidden !important;
	@include media('<widescreen') {
		display:none !important;
	}
}
.nav-slide{
	width:400px;
	position:fixed;
	overflow:hidden;
	top:0;
	bottom:0;
	right:0;
	z-index:20;
	text-align:left;
	background:#fff;
	transform:translate(400px);
	transition-duration:0.8s;
	color:$dark-green;
	@include media('<phone') {
		width:300px;
	}
	.slide-holder{
		height:100%;
		overflow:hidden;
		padding:50px;
		@include media('<phone') {
			padding:30px;
		}
	}
	h2{
		color:$dark-green;
		font-size:26px;
		line-height:1;
		border-bottom:1px solid #e1e1e1;
		padding:0 0 45px;
		margin:0 0 30px;
	}
}
.nav-opener{
	&.icon-basket{
		display:block;
		font-size:26px;
		line-height:1;
		color:$dark-green;
		position:relative;
		text-decoration:none;
		margin:0 0 0 71px;
		display:inline-block;
		vertical-align:middle;
		@include media('<tablet') {
			margin:0 0 0 35px;
		}
		.num{
			position:absolute;
			left:-8px;
			top:10px;
			z-index:2;
			width:14px;
			height:14px;
			border-radius:50%;
			background:$yellow;
			font-family:'GothamBold';
			font-size:8px;
			display:flex;
			align-items:center;
			justify-content:center;
		}
	}
	.close{
		overflow:hidden;
		width:24px;
		height:24px;
		position:absolute;
		top:50px;
		right:40px;
		z-index:2;
		@include media('<phone') {
			top:30px;
			right:30px;
		}
		&:before,
		&:after{
			content:'';
			position:absolute;
			top:10px;
			left:0;
			right:0;
			z-index:30;
			height:2px;
			-moz-transform:rotate(45deg);
			-webkit-transform:rotate(45deg);
			-ms-transform:rotate(45deg);
			transform:rotate(45deg);
			background:$black;
		}
		&:after{
			-moz-transform:rotate(-45deg);
			-webkit-transform:rotate(-45deg);
			-ms-transform:rotate(-45deg);
			transform:rotate(-45deg);
		}
	}
	&:hover{
		color:$gray;
	}
}
#header{
	background:$white;
/* 	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:4; */
	.container{
		max-width:1272px;
		padding-top:41px;
		padding-bottom:36px;
		@include media('<tablet') {
			padding-top:25px;
			padding-bottom:30px;
		}
	}
	.logo{
		margin:0px 0 -1px 27px;
		@include media('<widescreen') {
			margin:0;
		}
	}
}
.header-holder{
	display:flex;
	align-items:center;
	justify-content:space-between;
}

.links-holder{
	display:flex;
	align-items:center;
}
.social-networks{
	margin:6px 0 0;
	padding:0;
	list-style:none;
	display:flex;
	font-size:19px;
	line-height:1;
	@include media('<widescreen') {
		margin:0;
	}
	li{
		list-style:none;
		margin:0 0 0 29px;
	}
	a{
		color:$dark-green;
		text-decoration:none;
		display:inline-block;
		vertical-align:middle;
		&:hover{
			color:$gray;
		}
	}
}
.visual{
	height:calc(100vh - 104px);
	min-height:650px;
	position:relative;
	display:flex;
	align-items:center;
	justify-content:center;
	color:$white;
	@include media('<tablet') {
		height:calc(100vh - 82px);
		min-height:350px;
	}
	.container{
		position:relative;
		z-index:2;
	}
	.text-area{
		padding:177px 0 53px;
		text-align:center;
		@include media('<tablet') {
			padding:45px 0 30px;
		}
	}
	.sub-title{
		display:block;
		font-size:16px;
		line-height:1.3;
		font-weight:600;
		letter-spacing:2px;
		text-transform:uppercase;
		margin:0 0 15px;
		@include media('<tablet') {
			font-size:14px;
			margin:0 0 10px;
		}
	}
	h1{
		font-size:82px;
		line-height:1.3;
		font-weight:600;
		color:$yellow-light;
		margin:0 0 98px;
		@include media('<desktop') {
			font-size:60px;
		}
		@include media('<tablet') {
			font-size:42px;
			margin:0 0 45px;
		}
		@include media('<phone') {
			font-size:32px;
			margin:0 0 30px;
		}
		@include media('<xs-phone') {
			font-size:28px;
		}
	}
	.btn{
		background:$white;
		color:$black;
		font-size:16px;
		line-height:1;
		letter-spacing:0.5px;
		padding:17px 35px;
		@include media('<tablet') {
			font-size:14px;
			padding:12px 20px;
		}
		&:hover{
			color:$gray;
		}
	}
}
.about-block{
	position:relative;
	padding:137px 0 245px;
	text-align:center;
	letter-spacing:1px;
	line-height:2;
	@include media('<widescreen') {
		padding:135px 0;
	}
	@include media('<desktop') {
		padding:90px 0;
	}
	@include media('<tablet') {
		padding:55px 0;
	}
	@include media('<phone') {
		padding:40px 0;
	}
	.container{
		max-width:990px;
	}
	.text-frame{
		max-width:690px;
		margin:0 auto 115px;
		@include media('<desktop') {
			margin:0 auto 70px;
		}
		@include media('<tablet') {
			margin:0 auto 40px;
		}
		p{
			margin:0;
		}
	}
	h2{
		font-family:'PT Serif';
		font-size:36px;
		line-height:1.3;
		letter-spacing:2.5px;
		font-weight:normal;
		color:$gray-medium;
		margin:0 0 44px;
		@include media('<tablet') {
			font-size:28px;
			margin:0 0 30px;
		}
		@include media('<phone') {
			font-size:26px;
			letter-spacing:1.5px;
			margin:0 0 15px;
		}
	}
	.decor01{
		position:absolute;
		top:31%;
		left:0;
		z-index:1;
		width:208px;
		@include media('<widescreen') {
			display:none !important;
		}
	}
	.decor02{
		position:absolute;
		right:0;
		bottom:27%;
		z-index:1;
		width:135px;
		@include media('<widescreen') {
			display:none !important;
		}
	}
}
.img-parallax{
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(0,-50%);
	pointer-events: none
}
.items-holder{
	display:flex;
	align-items:center;
	margin:0 -50px;
	line-height:1.57;
	font-size:14px;
	@include media('<desktop') {
		margin:0 -20px;
	}
	@include media('<tablet') {
		margin:0 -10px;
	}
	@include media('<phone') {
		display:block;
		margin:0;
	}
	.item{
		width:33.33%;
		padding:0 50px;
		@include media('<desktop') {
			padding:0 20px;
		}
		@include media('<tablet') {
			padding:0 10px;
		}
		@include media('<phone') {
			width:100%;
			padding:0 0 35px;
		}
	}
	.ico{
		display:flex;
		align-items:center;
		justify-content:center;
		min-height:52px;
		margin:0 0 39px;
		@include media('<phone') {
			min-height:0;
			margin:0 0 20px;
		}
	}
	h3{
		font-size:14px;
		line-height:1.3;
		font-weight:600;
		text-transform:uppercase;
		letter-spacing:3.4px;
		color:$dark-green;
		margin:0 0 23px;
		@include media('<tablet') {
			letter-spacing:2.3px;
			margin:0 0 15px;
		}
	}
}
.product-block{
	background:$light-green;
	padding:70px 0 0;
	text-align:center;
	.container{
		position:relative;
		z-index:2;
		max-width:960px;
	}
	h2{
		font-size:14px;
		line-height:1;
		text-transform:uppercase;
		font-weight:600;
		letter-spacing:3px;
		color:$gray-medium;
		margin:0 0 14px;
		@include media('<widescreen') {
			letter-spacing:1.5px;
		}
	}
	.title{
		display:inline-block;
		vertical-align:middle;
		font-family:'PT Serif';
		font-size:36px;
		line-height:1.2;
		letter-spacing:2px;
		text-transform:none;
		color:$dark-green;
		margin:0 0 20px;
		@include media('<desktop') {
			font-size:30px;
		}
		@include media('<phone') {
			font-size:18px;
		}
		.title-top,
		.title-base{
			display:inline-block;
			vertical-align:middle;
		}
		.plus{
			display:inline-block;
			vertical-align:middle;
			margin:0 10px;
		}
	}
	.holder{
		display:flex;
		align-items:center;
		justify-content:center;
		margin:0 0 25px;
	}
	.price{
		font-size:34px;
		line-height:1.2;
		font-weight:600;
		color:$dark-green;
		margin:0 30px 0 0;
		@include media('<desktop') {
			font-size:22px;
		}
		@include media('<phone') {
			font-size:18px;
		}
	}
	.btn{
		font-size:14px;
		line-height:1;
		font-weight:600;
		letter-spacing:0.5px;
		padding:14px 29px;
		@include media('<desktop') {
			padding:11px 20px;
		}
		@include media('<phone') {
			font-size:13px;
			padding:10px 12px;
		}
	}
}
.size{
	position:absolute;
	bottom:-6px;
	left:50%;
	z-index:2;
	margin-left:-83px;
	font-family:'PT Serif';
	font-size:14px;
	line-height:1.3;
	letter-spacing:0.1px;
	color:$gray;
	@include media('<phone') {
		bottom:-16px;
		font-size:12px;
		margin-left:-73px;
	}
	.size-l,
	.size-w,
	.size-h{
		display:inline-block;
		vertical-align:middle;
	}
	.span-x{
		display:inline-block;
		vertical-align:middle;
		margin:0 4px;
	}
}
.slider-top,
.slider-base{
	&.slick-initialized{
		.slick-slide{
			display:block;
		}
	}
	.slide{
		display:none;
		&.active{
			display:block;
		}
	}
	.slick-slide{
		img{
			margin:0 auto;
			width:100%;
		}
	}
}
.slider-top{
	position:relative;
	z-index:3;
	.img-holder{
		width:80%;
		margin:0 auto;
	}
}
.slider-base{
	margin:-100px 0 0;
	@include media('<tablet') {
		max-width:500px;
		margin:-90px auto 0;
	}
	@include media('<phone') {
		max-width:280px;
		margin-top:-48px;
	}
	@include media('<xs-phone') {
		max-width:240px;
		margin-top:-37px;
	}
	.img-holder{
		width:55%;
		margin:0 auto 30px;
	}
}
.product-settings{
	position:relative;
	z-index:2;
	border-top:1px solid #fff;
	display:flex;
	margin:31px 0 0;
	@include media('<desktop') {
		display:block;
	}
	&.left-active{
		.left-area{
			width:72.5%;
			@include media('<desktop') {
				width:100%;
			}
			.title-area{
				padding:0;
			}
			h2{
				position:absolute;
				top:50%;
				left:-116px;
				z-index:2;
				transform:rotate(-90deg) translateY(-50%);
				margin:-13px 0 0;
				@include media('<widescreen') {
					left:-93px;
				}
				@include media('<desktop') {
					left:0;
				}
				@include media('<phone') {
					left:-23px;
				}
			}
			.opener{
				position:absolute;
				top:50%;
				right:35px;
				z-index:2;
				margin:-25px 0 0;
				@include media('<desktop') {
					right:30px;
				}
				@include media('<tablet') {
					right:15px;
				}
				@include media('<phone') {
					margin-top:-15px;
				}
				.icon-click{
					-moz-transform:rotate(-45deg);
					-webkit-transform:rotate(-45deg);
					-ms-transform:rotate(-45deg);
					transform:rotate(-45deg);
				}
			}
			.toggle-block{
				margin:0 0 0 auto;
				padding:0 80px 0 0;
				@include media('<desktop') {
					margin:0 auto;
					padding:0;
				}
				.slide-area{
					display:flex;
					flex-direction: column;
					@include media('<phone') {
						display:block;
					}
				}
			}
		}
		.right-area{
			width:27.5%;
			@include media('<desktop') {
				width:100%;
			}
		}
	}
	&.right-active{
		.right-area{
			width:72.5%;
			@include media('<desktop') {
				width:100%;
			}
			.title-area{
				padding:0;
			}
			h2{
				position:absolute;
				top:50%;
				left:0;
				z-index:2;
				transform:rotate(-90deg) translateY(-50%);
				margin:-9px 0 0;
				@include media('<tablet') {
					left:-10px;
				}
				@include media('<phone') {
					left:-29px;
				}
			}
			.opener{
				position:absolute;
				top:50%;
				right:-94px;
				z-index:2;
				margin:-25px 0 0;
				@include media('<widescreen') {
					right:-60px;
				}
				@include media('<desktop') {
					right:30px;
				}
				@include media('<tablet') {
					right:15px;
				}
				.icon-click{
					-moz-transform:rotate(-45deg);
					-webkit-transform:rotate(-45deg);
					-ms-transform:rotate(-45deg);
					transform:rotate(-45deg);
				}
			}
			.toggle-block{
				margin:0 auto 0 0;
				padding:0 0 0 138px;
				@include media('<widescreen') {
					padding:0 0 0 95px;
				}
				@include media('<desktop') {
					margin:0 auto;
					padding:0;
				}
				.slide-area{
					display:flex;
					@include media('<widescreen') {
						align-items:center;
					}
					@include media('<phone') {
						display:block;
					}
				}
			}
		}
		.left-area{
			width:27.5%;
			@include media('<desktop') {
				width:100%;
			}
		}
	}
	.left-area{
		width:50%;
		@include media('<desktop') {
			width:100%;
		}
		.title-area{
			justify-content:flex-end;
			@include media('<desktop') {
				justify-content:space-between;
			}
		}
	}
	.right-area{
		width:50%;
		border-left:1px solid #fff;
		@include media('<desktop') {
			width:100%;
			border-left:none;
			border-top:1px solid #fff; 
		}
		.sub-slider-holder{
			width:590px;
			@include media('<widescreen') {
				width:460px;
			}
			@include media('<tablet') {
				width:200px;
			}
			@include media('<phone') {
				width:100%;
			}
		}
		.title-area{
			justify-content:flex-start;
			@include media('<desktop') {
				justify-content:space-between;
			}
		}
		.slider-nav{
			right:-20px;
			@include media('<widescreen') {
				right:-15px;
			}
			@include media('<desktop') {
				right:100px;
			}
			@include media('<tablet') {
				right:160px;
			}
		}
		.side-holder{
			right:-93px;
			@include media('<widescreen') {
				right:-58px;
			}
			@include media('<desktop') {
				right:28px;
				bottom:35px;
			}
			@include media('<tablet') {
				right:120px;
				bottom:40px;
			}
		}
	}
	.remove{
		@include media('<tablet') {
			margin:0;
			padding-top:0;
		}
	}
	&.remove-active{
		.sub-slider-holder{
			display:none;
		}
		.side-holder{
			display:none;
		}
		.remove-block{
			display:block;
		}
	}
}
.toggle-block{
	max-width:852px;
	padding:88px 70px;
	position:relative;
	@include media('<widescreen') {
		max-width:650px;
		padding:88px 30px;
	}
	@include media('<desktop') {
		width:100%;
		max-width:inherit;
		padding:60px 30px;
	}
	@include media('<phone') {
		padding:0 !important;
	}
	.title-area{
		display:flex;
		align-items:center;
		justify-content:center;
		@include media('<phone') {
			padding:50px 20px;
		}
		h2{
			margin:0;
		}
	}
	.opener{
		width:42px;
		height:42px;
		border-radius:50%;
		background:#fff;
		margin:0 0 0 36px;
		display:flex;
		align-items:center;
		justify-content:center;
		text-decoration:none;
		color:#999;
		@include media('<widescreen') {
			margin:0 0 0 45px;
		}
		@include media('<desktop') {
			margin:0 0 0 40px;
		}
		@include media('<phone') {
			width:32px;
			height:32px;
		}
		.icon-click{
			font-size:18px;
			line-height:1;
			transition:all 0.5s linear;
			@include media('<phone') {
				font-size:14px;
			}
		}
	}
	.slide-area{
		display:none;
		padding:40px 0;
		text-align:left;
		@include media('<desktop') {
			padding:40px 80px;
		}
		@include media('<phone') {
			padding:40px 50px;
			text-align:center;
		}
	}
}
.sub-slider-holder{
	width:620px;
	overflow:hidden;
	@include media('<widescreen') {
		width:460px;
	}
	@include media('<tablet') {
		width:200px;
	}
	@include media('<phone') {
		width:100%;
		margin:0 0 35px;
	}
}
.sub-slider-top,
.sub-slider-base{
	margin:0 -70px 0 0;
	position:relative;
	@include media('<widescreen') {
		margin:0;
	}
	@include media('<tablet') {
		margin:0;
	}
	&.slick-initialized{
		.slick-slide{
			display:block;
		}
	}
	.slide{
		display:none;
		padding:0 15px;
		outline: none;
		@include media('<tablet') {
			padding:0;
		}
		&.active{
			display:block;
		}
		/* &.active, */
		&.slick-current{
			.image-box{
				background:#fff;
				border-bottom-color:#fdc966;
			}
			.text-box{
				visibility:visible;
			}
		}
	}
	.image-box{
		height:82px;
		display:flex;
		align-items:center;
		justify-content:center;
		border-bottom:3px solid transparent;
		margin:0 0 14px;
	}
	.text-box{
		visibility:hidden;
		font-size:14px;
		line-height:1.2;
		color:#666;
	}
	h3{
		font-size:12px;
		line-height:1.2;
		letter-spacing:0.4px;
		color:#000;
		margin:0 0 3px;
	}
	p{
		margin:0;
	}
}

.slider-nav{
	position:absolute;
	top:70px;
	right:100px;
	z-index:2;
	display:flex;
	align-items:center;
	@include media('<widescreen') {
		right:70px;
	}
	@include media('<tablet') {
		right:160px;
	}
	@include media('<phone') {
		position:static;
		justify-content:center;
		margin:20px 0 0;
	}
	.paging-info,
	.paging-info-base{
		margin:0 26px;
		font-size:12px;
		font-weight:bold;
		color:#9a9a9a;
	}
	.slick-arrow{
		font-size:0;
		line-height:0;
		border-style:solid;
		border-width:7.5px 0 7.5px 8px;
		border-color:transparent transparent transparent #000;
		padding:0;
		border-radius:0;
		background:transparent;
		@include media('<tablet') {
			right:20px;
			
		}
		@include media('<phone') {
			bottom:-30px;
		}
		&.prev,
		&.prev-base{
			border-width: 7.5px 8px 7.5px 0;
			border-color: transparent #000 transparent transparent;
			@include media('<tablet') {
				right:auto;
				left:20px;
			}
		}
/* 		&.slick-disabled{
			visibility:hidden !important;
		} */
	}
}

.product-info{
	.size{
		position:static;
		margin:0;
		font-family:'Montserrat';
		font-size:12px;
		line-height:1.3;
		letter-spacing:0.4px;
		color:$gray-medium;
	}
}
.side-holder{
	display:flex;
	align-items:center;
	position:absolute;
	bottom:40px;
	right:33px;
	z-index:2;
	@include media('<widescreen') {
		align-items:flex-end;
		flex-direction: column;
		bottom:20px;
		right:32px;
	}
	@include media('<tablet') {
		align-items:center;
		right:65px;
		bottom:30px;
	}
	@include media('<phone') {
		position:static;
	}
	.size-nav{
		display:flex;
		align-items:center;
		@include media('<widescreen') {
			margin:0 0 10px;
		}
		@include media('<tablet') {
			margin:0 0 20px;
		}
	}
	h3{
		font-size:12px;
		line-height:1.2;
		color:$dark-green;
		margin:0 25px 0 0;
	}
	ul{
		margin:0;
		padding:0;
		list-style:none;
		display:flex;
		font-size:14px;
		line-height:1;
		letter-spacing:1px;
		@include media('<phone') {
			justify-content:center;
		}
		li{
			margin:0 10px;
			position:relative;
			@include media('<widescreen') {
				margin:0 0 0 15px;
			}
			@include media('<phone') {
				margin:0 7px;
			}
			&.active{
				.num{
					background:#fff;
					border-bottom-color:#fdc966;
				}
			}
		}
		.num{
			display:block;
			padding:9px 8px 6px;
			border-bottom:4px solid transparent;
			text-decoration:none;
			font-weight:bold;
			color:$dark-green;
			position:relative;
			sup{
				position:absolute;
				top:15px;
				right:4px;
				z-index:2;
				font-size:14px;
				font-style: italic;
			}
		}
		.jcf-radio{
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			z-index:2;
			width:inherit;
			height:inherit;
			border:none;
			margin:0;
			border-radius:0;
			background:transparent;
		}
		.jcf-radio.jcf-checked span{
			top:0;
			left:0;
			right:0;
			bottom:0;
			border-radius: 0;
			background:transparent;
		}
		
	}
}
.remove{
	margin:0 0 0 45px;
	font-size:12px;
	font-weight:bold;
	letter-spacing:0.5px;
	@include media('<widescreen') {
		margin:0 5px 0 0;
	}
	.remove-link{
		color:#343434;
		text-decoration:underline;
		&:hover{
			text-decoration:none;
		}
	}
}
.remove-block{
	display:none;
	font-size:12px;
	line-height:1.2;
	font-weight:600;
	letter-spacing:0.6px;
	margin:0;
	padding:60px 53px;
	@include media('<tablet') {
		padding:60px 0;
	}
	@include media('<phone') {
		line-height:1.5;
		padding:40px 15px;
	}
	p{
		margin:0;
	}
	a{
		color:$dark-green;
		text-decoration:underline;
		&:hover{
			text-decoration:none;
		}
	}
}
.description-block{
	background:#fafafa;
	font-size:15px;
	line-height:2.1;
	letter-spacing:1.6px;
	padding:80px 0;
	@include media('<desktop') {
		padding:50px 0;
		line-height:1.8;
	}
	@include media('<tablet') {
		padding:30px 0;
		font-size:14px;
	}
	.block-holder{
		display:flex;
		align-items:center;
		padding:73px 0;
		@include media('<desktop') {
			padding:40px 0;
		}
		@include media('<tablet') {
			padding:30px 0;
		}
		@include media('<phone') {
			display:block;
		}
	}
	.img-holder{
		width:56%;
		position:relative;
		&:after{
			content:'';
			position:absolute;
			right:0;
			top:0;
			z-index:2;
			height:93%;
			width:50px;
			background:#fafafa;
			@include media('<widescreen') {
				width:40px;
			}
			@include media('<phone') {
				display:none;
			}
		}
		@include media('<tablet') {
			width:50%;
		}
		@include media('<phone') {
			width:100%;
			margin:0 0 20px;
		}
		img{
			width:100%;
		}
	}
	.text-holder{
		width:44%;
		@include media('<tablet') {
			width:50%;
			margin:0;
		}
		@include media('<phone') {
			width:100%;
		}
		.frame{
			padding:30px 90px 63px 7px;
			background:#fafafa;
			@include media('<widescreen') {
				padding:30px 15px 63px 7px;
			}
			@include media('<desktop') {
				padding:20px 0 50px;
			}
			@include media('<phone') {
				max-width:inherit;
				width:100%;
				padding:0;
			}
			p{
				margin:0;
			}
		}
	}
	h2{
		font-family:'PT Serif';
		font-size:35px;
		line-height:1.3;
		letter-spacing:1.5px;
		font-weight:normal;
		color:$gray-medium;
		margin:0 0 35px;
		@include media('<desktop') {
			font-size:24px;
			margin:0 0 10px;
		}
	}
}
.social-section{
	padding:103px 0 80px;
	@include media('<desktop') {
		padding:80px 0 50px;
	}
	@include media('<tablet') {
		padding:45px 0 30px;
	}
	h2{
		font-size:40px;
		line-height:1;
		letter-spacing:-0.2px;
		color:$dark-green;
		margin:0 0 22px;
		@include media('<desktop') {
			font-size:30px;
			letter-spacing:0;
		}
		@include media('<phone') {
			font-size:28px;
			margin:0 0 20px;
		}
	}
	.link{
		display:inline-block;
		vertical-align:top;
		font-size:30px;
		line-height:1;
		font-weight:600;
		color:#6e7f7c;
		text-decoration:none;
		margin:0 0 114px;
		@include media('<desktop') {
			font-size:22px;
			margin:0 0 45px;
		}
		@include media('<phone') {
			font-size:18px;
			margin:0 0 30px;
		}
		&:hover{
			text-decoration:underline;
		}
	}
	.links-img{
		display:flex;
		@include media('<tablet') {
			flex-wrap:wrap;
		}
		@include media('<phone') {
			display:block;
		}
	}
	.link-img{
		display:block;
		width:25%;
		@include media('<tablet') {
			width:50%;
		}
		@include media('<phone') {
			width:100%;
		}
		&:hover{
			opacity:0.75;
		}
		img{
			width:100%;
		}
	}
}
#footer{
	display:table-footer-group;
	height:1%;
	overflow:hidden;
	position:relative;
	width:100%;
}
.footer-holder{
	padding:90px 0;
	background:#333;
	color:$white;
	position:relative;
	@include media('<desktop') {
		padding:70px 0;
	}
	@include media('<tablet') {
		text-align:center;
		padding:50px 0 20px;
	}
	@include media('<phone') {
		padding:35px 0 5px;
	}
	.container{
		max-width:986px;
	}
	.row{
		display:flex;
		justify-content: space-between;
		margin:0 -25px;
		@include media('<tablet') {
			display:block;
			margin:0;
		}
	}
	.col{
		width:40%;
		padding:0 25px;
		@include media('<tablet') {
			width:100%;
			padding:0 0 35px;
		}
	}
	.social-networks{
		font-size:14px;
		margin:39px 38px 0 0;
		@include media('<desktop') {
			margin:39px 0 0 0;
		}
		@include media('<tablet') {
			justify-content:center;
			margin:35px 0 0;
		}
		li{
			margin:0 35px 0 0;
			@include media('<tablet') {
				margin:0 15px;
			}
		}
		a{
			color:$white;
		}
	}
	.holder{
		display:flex;
		justify-content:flex-end;
		@include media('<tablet') {
			justify-content:center;
			flex-direction: column-reverse;
		}
	}
	h2{
		font-size:20px;
		line-height:1;
		letter-spacing:1px;
		color:$white;
		margin:0 0 24px;
		@include media('<desktop') {
			font-size:18px;
		}
		@include media('<tablet') {
			margin:0 0 12px;
		}
	}
	.links-list{
		margin:0;
		padding:0;
		list-style:none;
		display:flex;
		font-size:12px;
		line-height:1;
		letter-spacing:1.5px;
		@include media('<tablet') {
			justify-content:center;
		}
		li{
			margin:0 56px 0 0;
			@include media('<desktop') {
				margin:0 20px 0 0;
			}
			@include media('<tablet') {
				margin:0 15px;
			}
		}
		a{
			color:#999;
			text-decoration:none;
			&:hover{
				color:$white;
			}
		}
	}
	
}
.footer-logo{
	position:absolute;
	top:50%;
	left:50%;
	z-index:2;
	margin:-35px 0 0 -45px;
	@include media('<desktop') {
		margin-top:-44px;
	}
	@include media('<tablet') {
		position:static;
		margin:0 0 35px;
	}
}
.form-block{
	max-width:180px;
	text-align:left;
	@include media('<tablet') {
		max-width:250px;
		margin:0 auto;
		text-align:center;
	}
	input[type='text'],
	input[type='email'],
	input[type='search']{
		width:100%;
		border:1px solid #3d403f;
		height:40px;
		background:#333;
		font-size:12px;
		line-height:1;
		color:$white;
		padding:12px 10px;
		letter-spacing:1.5px;
		@include placeholder {
			color:$white;
		}
	}
	.form-control{
		margin:-12px 0 0;
		@include media('<tablet') {
			margin:0;
		}
	}
}