// forms
form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}
input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
input[type='url'],
input[type='date'],
textarea{
	-webkit-appearance:none;
	-webkit-border-radius:0;
	box-sizing:border-box;
	margin:0;
	height:38px;
	background:#f7f7f7;
	border:1px solid #d1d1d1;
	border-radius:0;
	font-size:14px;
	line-height:1.2;
	padding:10px 10px;
	outline:none;
	color:#8b8b8b;
	@include placeholder {
		color:$placeholder-color;
	}
}

select {
	-webkit-border-radius: 0;
}
textarea {
	width:100%;
	min-height:155px;
	max-height:300px;
	resize: none;
	vertical-align: top;
}
button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'],
.btn {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	display:inline-block;
	vertical-align:top;
	background-color:$btn-background;
	border:none;
 	border-radius:25px; 
	font-size:14px;
	line-height:1;
	font-weight:600;
	text-align:center;
	padding:12px 20px;
	outline:none;
	color:$white;
	text-decoration:none;
	transition: background 0.5s ease, opacity 0.5s ease;
	&:hover{
		text-decoration:none;
		background:$gray-medium;
	}
}
input[type='file']{
	@include media('<tablet') {
		width:100%;
	}
}
/* custom radio styles */

.jcf-radio {
    vertical-align: middle;
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: default;
    background: #fff;
    border: 1px solid #777;
    border-radius: 9px;
    margin: 0 3px 0 0;
    height: 16px;
    width: 16px;
}

.jcf-radio span {
    display: none;
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    background: #777;
    border-radius: 100%;
}

.jcf-radio input[type="radio"] {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
    left: 0;
    top: 0;
}

.jcf-radio.jcf-checked span {
    display: block;
}


/* common custom form elements styles */

.jcf-disabled {
    background: #ddd !important;
}

.jcf-focus,
.jcf-focus * {
    border-color: #f00 !important;
}