html {
  height:100%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {max-height: 1000000px;}

body {
  height:100%;
  color: $base-text-color;
  background: $base-background-color;
  font: #{$font-size-base}/#{$line-height-base} $base-font-family;
  min-width: $base-min-width;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include media('<desktop') {
    font-size:16px;
    line-height:1.2;
  }
}

// adaptive images
img {
  max-width: 100%;
  height: auto;
  vertical-align:top;
}

#overlayPP,
.bg-stretch img{
  max-width:inherit !important;
}

// google map fix
.gm-style img {max-width: none}