// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/

$gray:#6e7f7c;
$gray-medium:#808080;
$black:#000;
$white:#fff;
$light-blue:#007acc;
$light-green:#dae0de;
$dark-green:#24352b;
$yellow:#fcc85d;
$yellow-light:#fff5ae;

$base-font-sans-serif: 'Montserrat', 'Helvetica', sans-serif;
$base-font-serif: 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;

$montserrat:'Montserrat', sans-serif;

// Body
$base-text-color: $gray-medium !default;
$base-background-color: $white !default;
$font-size-base: 14px !default;
$line-height-base: 2 !default;
$base-font-family: $base-font-sans-serif !default;

$vertical-rhythm: ($line-height-base * 1em);

$base-min-width: 320px;

// Liks
$base-link-color: $light-blue;

// Buttons 
$btn-color: $white !default;
$btn-background: $dark-green !default;
$btn-padding: 0.4em 0.7em !default;
$btn-font-size: inherit !default;

// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: $gray !default;
$form-element-focus-border-color: $black !default;
$placeholder-color: $gray !default;

// Headers
$h1-font-size: 30px !default;
$h2-font-size: 27px !default;
$h3-font-size: 24px !default;
$h4-font-size: 21px !default;
$h5-font-size: 17px !default;
$h6-font-size: 15px !default;

$headings-font-family: inherit !default;
$headings-color: $dark-green !default;


$animation-speed: 0.3s;
