body{
	&:not(.custom-background-image){
		&:before,
		&:after{
			display:none !important;
		}
	}
}
.site-header{
	padding-left:0;
	padding-right:0;
}
.site{
	margin:0;
	font-size:14px;
	line-height:1.4;
	@include media('<widescreen') {
		margin:20px 45px;
	}
	@include media('<phone') {
		margin:20px 15px;
	}
}
/* .site-inner{
	max-width:1096px;
} */
.entry-title,
.main-navigation{
	font-family:$montserrat;
}
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-summary h1,
.entry-summary h2,
.entry-summary h3,
.entry-summary h4,
.entry-summary h5,
.entry-summary h6,
.comment-content h1,
.comment-content h2,
.comment-content h3,
.comment-content h4,
.comment-content h5,
.comment-content h6,
.textwidget h1,
.textwidget h2,
.textwidget h3,
.textwidget h4,
.textwidget h5,
.textwidget h6{
	font-weight:600;
}

.site-branding .site-title a{
	text-decoration:none;
}
.entry-header,
.entry-title{
	h1{
		@include media('<phone') {
			font-size:24px;
		}
	}
}
.entry-content a{
	text-decoration:none;
}
.cross-sells{
	h2{
		@include media('<phone') {
			font-size:18px;
		}
	}
}
.main-navigation ul{
	padding:0;
	a{
		text-decoration:none;
	}
}
.entry-header,
.entry-summary,
.entry-content,
.entry-footer,
.page-content{
	margin-left:0;
}
.entry-header,
.post-thumbnail,
.entry-content,
.entry-summary,
.entry-footer,
.comments-area,
.image-navigation,
.post-navigation,
.page-header,
.page-content,
.content-bottom-widgets{
	margin-right:0;
}

.woocommerce table.shop_table td{
	@include media('<xs-phone') {
		padding:10px;
	}
}
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt{
	background:$dark-green;
	&:hover{
		background:#505451;
	}
}
.woocommerce table.shop_table_responsive tr td::before,
.woocommerce-page table.shop_table_responsive tr td::before{
	color:$dark-green;
}
.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text{
	height:38px;
	@include media('<xs-phone') {
		margin:0 0 8px;
	}
}

.woocommerce td.product-name dl.variation dt{
	color:$dark-green;
}

.woocommerce-error{
	line-height:1.6;
}
.woocommerce form .form-row label{
	font-weight:700;
}

select,
#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text{
	box-sizing: border-box;
	display:inline-block;
	vertical-align:top;
	width:100%;
	margin:0;
	height:38px;
	background:#f7f7f7;
	border:1px solid #d1d1d1;
	border-radius:0;
	font-size:14px;
	line-height:1.2;
	padding:10px 10px;
	outline:none;
	box-shadow:none;
	@include placeholder {
		color: $placeholder-color;
	}
}
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button{
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	outline:none;
	cursor: pointer;
	padding:12px 12px;
	font-size:14px;
	line-height:1;
	display: inline-block;
	vertical-align:middle;
	background-color:$btn-background;
	color:$btn-color;
	font-weight:600;
	border:none;
	text-align:center;
	border-radius:25px; 
	transition: background 0.5s ease, opacity 0.5s ease;
	&:hover {
		text-decoration:none;
		background:$gray-medium;
		color:$btn-color;
	}
}
button,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus{
	text-transform:none;
}
.woocommerce form .form-row label.inline{
	display:inline-block;
	vertical-align:middle;
}
.select2-container .select2-selection--single{
	height:38px;
}
.select2-container--default .select2-selection--single{
	background:#f7f7f7;
	border-radius:0;
	border:1px solid #d1d1d1;
}
.select2-container .select2-selection--single .select2-selection__rendered{
	padding:4px 35px 4px 12px;
	font-size:14px;
	color:$gray-medium;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
	margin-left:-8px;
	margin-top:3px;
}
.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register{
	border-radius: 0;
}
.site-content{
	display:flex;
	@include media('<desktop') {
		display:block;
		padding:0 4.5455%;
	}
	.content-area{
		width:100%;
		float:none;
		margin:0;
		@include media('<desktop') {
			margin:0 0 100px;
		}
	}
	.sidebar{
		padding:0;
		float:none;
		width:auto;
	}
}
.woocommerce form .form-row{
	padding:0;
	margin:0 0 15px;
}

.woocommerce-product-search{
	input[type="search"].search-field{
		width:calc(100% - 150px);
		@include media('>=910px') {
			width:calc(100% - 100px);
			height:38px;
			font-size:14px;
			line-height:1;
		}
	}
}
.price_slider_amount{
	input[type="text"]{
		@include media('>=910px') {
			width:34%;
			height:38px;
			font-size:14px;
			line-height:1;
		}
	}
}
.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text{
	margin-right:10px;
}
.woocommerce .quantity .qty{
	padding:0.25em 0.3em;
	@include media('<phone') {
		padding:0.35em 0.35em;
	}
}
.woocommerce-account .addresses .title h3{
	float:none;
}
.site-footer {
    padding: 0 0 1.75em;
}
.woocommerce #content table.cart td.actions .coupon .button,
.woocommerce #content table.cart td.actions .coupon .input-text,
.woocommerce #content table.cart td.actions .coupon input,
.woocommerce table.cart td.actions .coupon .button,
.woocommerce table.cart td.actions .coupon .input-text,
.woocommerce table.cart td.actions .coupon input,
.woocommerce-page #content table.cart td.actions .coupon .button,
.woocommerce-page #content table.cart td.actions .coupon .input-text,
.woocommerce-page #content table.cart td.actions .coupon input,
.woocommerce-page table.cart td.actions .coupon .button,
.woocommerce-page table.cart td.actions .coupon .input-text,
.woocommerce-page table.cart td.actions .coupon input{
	@include media('<xs-phone') {
		width:100%;
	}
}