.main-block{
	padding:100px 0 50px;
	@include media('<desktop') {
		padding:45px 0;
	}
	@include media('<tablet') {
		padding:35px 0;
	}
	.container{
		max-width:1222px;
		width:100%;
		display:flex;
		align-items:stretch;
		@include media('<desktop') {
			display:block;
		}
	}
}
#content { 
	width:100%;
	padding:0 0 40px;
}
.sidebar{ 
	width:100%;
	min-width:300px;
	max-width:300px;
	margin:0 0 0 40px;
	@include media('<desktop') {
		min-width:0;
		max-width:inherit;
		margin:0;
	}
}

.widget{
	margin-bottom:$vertical-rhythm;
	@extend %clearfix;
	ul{
		padding-left:2em;
	}
	select{
		min-width:inherit;
		width:100%;
	}
	a{
		color:inherit;
		text-decoration:none;
		&:hover{
			color:$base-link-color;
		}
	}
	h3{
		font-size:20px;
		@include media('<widescreen') {
			font-size:17px;
		}
	}
	.search-form{
		input[type="search"]{
			width:70%;
			@include media('<desktop') {
				width:65%;
			}
			@include media('<tablet') {
				width:50%;
			}
		}
	}
}

/* Calendar */

#wp-calendar{
	width:95%;
	margin-bottom:15px;
	clear:both;
	padding:0;
	@include media("<phone") {
		width:100%;
	}
	caption{
		padding:10px;
	}
	th,
	td{
		padding:3px 0;
		text-align:center;
	}
	td{
		background:transparent;
	}
}

/* Typography */
ul ul,
ul ol{
	margin:0;
}

ul>ul>li{
	list-style-type:circle;
}

ol ol,
ol ul{
	margin:0;
}

ol>ol>li{
	list-style-type:lower-alpha;
}

.comment-form{
	.comment-form-cookies-consent{
		display:flex;
		input[type='checkbox']{
			margin:3px 5px 0 0;
		}
		label{
			padding:0;
		}
	}
	p{
		overflow:hidden;
		padding:0 0 10px;
		margin:0;
	}
	label{
		display:block;
		padding:0 0 5px;
	}
	textarea,
	input:not([type='submit'], [type='checkbox'], [type='radio']){
		margin:0 4px 0 0;
		width:300px;
		@include media("<phone") {
			width:100%;
		}
	}
	textarea{
		width:100%;
		margin:0;
	}
	input[type='submit']{
		display:block;
		float:none;
	}
}

.post-password-form{
	label{
		display:block;
	}
	input[type='password']{
		margin:0 4px 0 0;
		width:300px;
	}
}

.search-form{
	@extend %clearfix;
	input{
		float:left;
		&[type='search']{
			margin:0 4px 0 0;
			width:50%;
		}
	}
}

.post-password-form{
	p{
		@extend %clearfix;
	}
	input{
		float:left;
		&[type='password']{
			width:150px;
		}
	}
}

.comment-form,
.post-password-form,
.search-form,
#search_block{
	button,
	input[type='submit']{
		background:$btn-background;
		color:$btn-color;
		height:40px;
		padding:0 20px;
	}
}
.search-form,
.post-password-form,
#search_block{
	margin-bottom:15px;
	@extend %clearfix;
	p{
		@extend %clearfix;
	}
	input{
		float:left;
		height:40px;
		&[type='search'],
		&[type='text']{
			margin:0 4px 0 0;
			width:150px;
		}
		&[type='password']{
			width:150px;
		}
	}
	input[type="submit"],
	button{
		height:40px;
	}
}

.commentlist{
	margin:0 0 $vertical-rhythm;
	.edit-link{
		margin:0;
	}
	.avatar-holder{
		float:left;
		margin:0 $vertical-rhythm 4px 0;
	}
}

.commentlist-item{
	.commentlist-item{
		padding:0;
		@include media(">=tablet") {
			padding:0 0 0 2em;

		}
	}
}

.comment,
.commentlist-holder{
	overflow:hidden;
}

.commentlist-item .commentlist-item,
.commentlist-item + .commentlist-item{
	padding-top:$vertical-rhythm;
}

.widget_calendar{
	#prev{
		padding-left:5px;
		text-align:left;
	}
	#next{
		padding-right:5px;
		text-align:right;
	}
}

.navigation,
.navigation-comments,
.pagination{
	position:relative;
	vertical-align:middle;
	padding:10px 0 20px 0;
	width:100%;
	overflow:hidden;
	@include media("<desktop") {
		font-size:14px;
	}
	@include media("<xs-phone") {
		font-size:12px;
	}
	.screen-reader-text{
		position:absolute;
		left:-99999px;
	}

	.current{color:#ccc;}

	.page-numbers{
		display:inline-block;
		vertical-align:middle;
		padding:10px 15px;
		@include media("<tablet") {
			padding:10px 8px;
		}
		&.current:hover{
			background:none;
			color:#ccc;
		}
		@include media('<tablet') {
			padding:8px;
		}
	}

	.next,
	.prev,
	.al,
	.ar{
		display:inline-block;
		vertical-align:middle;
		max-width:50%;
		background:$btn-background;
		color:#fff;
		text-decoration:none;
		border-radius:0;
		font-weight:bold;
		line-height:1;
 		border-radius:25px; 
		&.disabled{
			background:#b3b3b3;
			border-color:#b3b3b3;
			pointer-events:none;
		}
		a{
			display:inline-block;
			vertical-align:top;
			padding:10px 15px;
			color:#fff;
			text-decoration:none;
 			border-radius:25px; 
			@include media("<tablet") {
				padding:10px;
			}
		}
	}
	a{
		color:inherit;
	}
}

.navigation-single{
	@extend %clearfix;
	margin-bottom:$vertical-rhythm;
	.next,
	.prev{
		float:left;
		vertical-align:middle;
		max-width:50%;
		background:$btn-background;
		color:$btn-color;
		text-decoration:none;
		a{
			color:inherit;
			text-decoration:none;
			padding:5px;
			display:block;
			@include media('<tablet') {
				padding:.2em;
			}
		}
	}
	.next{
		float:right;
	}
}

/* Begin Images */

img.border{
	padding:5px;
	border:1px solid #ccc;
}

.wp-caption{
	clear:both;
	border:1px solid $gray;
	max-width:96%;
	/* Image does not overflow the content area */
	padding:5px 3px;
	text-align:center;
	&.alignnone{
		margin:5px 0 20px 0;
	}
	img{
		margin:0;
		padding:0;
		border:0;
		vertical-align:top;
		width:auto;
		max-width:98.5%;
	}
	p{
		margin:.4em 0 0;
	}
}

div.aligncenter,
figure.aligncenter{
	margin:0 auto $vertical-rhythm;
	text-align:center;
}

img.aligncenter{
	display:block;
	margin:0 auto 20px;
}

.aligncenter{
	margin:5px auto 20px auto;
}

img.alignleft,
img.alignright{
	@include media("<desktop") {
		max-width:50%;
	}
}

.alignleft{
	float:left;
	margin:0 $vertical-rhythm 10px 0;
}

.alignright{
	float:right;
	margin:0 0 10px $vertical-rhythm;
}

.alignnone{
	margin:0;
}

img.wp-smiley{
	padding:0;
	border:none;
}

a img.alignright{
	float:right;
	margin:5px 0 20px 20px;
}

a img.alignnone{
	margin:0;
}

a img.alignleft{
	float:left;
	margin:5px 20px 20px 0;
}

a img.aligncenter{
	display:block;
	margin-left:auto;
	margin-right:auto
}

/* can use for responsive iframe*/
.fluid-iframe{
	display:block;
	position:relative;
	padding-bottom:60%;
	iframe{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		margin:0;
	}
}

.mejs-container{
	margin-bottom:$vertical-rhythm;
}

.wp-caption .wp-caption-text{
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:5px 0 0;
	text-align:center;
}

.wp-caption-text,
.gallery,
.alignnone,
.gallery-caption,
.sticky,
.bypostauthor{
	height:auto;
}

.al,
.navigation .next{
	float:left;
}

.ar,
.navigation .prev{
	float:right;
}

.posts-list .entry p{
	margin:0;
}

.posts-list .post{
	margin:0 0 60px;
	@include media("<tablet") {
		margin:0 0 20px;
	}
}

.title{
	margin-bottom:1.2em;
	text-transform:uppercase;
	h1{margin:0;}
}

.post .title{
	margin-bottom:10px;
}

.post .postmetadata{
	margin-bottom:10px;
}

.textwidget p{
	padding:0 0 10px 0;
}

.center{
	text-align:center;
}

.hidden{
	display:none;
}

code br{
	display:none;
}

pre,
code{
	font-family:mono-space, monospace;
	border:1px solid #eee;
	padding:20px;
	display:block;
	margin:0 0 20px 0;
	overflow:auto;
	white-space:pre;
	font-size:12px;
	line-height:20px;
}

code{
	padding:1px 20px 0 20px;
	background:#f6f6f6;
	border-top:0;
	border-bottom:0;
}

/* Various Tags & Classes */

acronym,
abbr,
span.caps{
	cursor:help;
}

acronym,
abbr{
	border-bottom:1px dashed #dfcfba;
}

blockquote{
	margin:0 0 1.2em;
	cite{
		display:block;
		padding-top:5px;
	}
}

sup{
	position:relative;
	top:-5px;
}

sub{
	position:relative;
	top:5px;
}

.last{
	margin-right:0 !important;
	clear:right;
}

.clear{
	clear:both;
	line-height:0;
}

.page-link{
	padding:0 0 15px;
}

.sticky{}

.bypostauthor{}

/* Respond */

.comments{
	clear:both;
}

#respond{
	margin:20px 0 20px 0;
	overflow:hidden;
}

.commentlist #respond{
	margin:0 0 20px 0;
}

#respond .comment-reply-title small{
	font-size:12px;
	font-weight:normal;
}

/* Comments*/

#comments,
#reply-title{
	margin:0 0 15px 0;
	line-height:1.6em;
}

.commentlist{
	margin-left:-2em;
	padding:0;
	text-align:justify;
	line-height:1.6em;
	@include media("<tablet") {
		margin-left:0;
	}
}

.commentlist .comment{
	padding:0 0 0 2em;
	@include media("<tablet") {
		padding:0;
	}
}
.commentlist .comment,
.commentlist + .comment{
	padding-top:1.2em;
}
.commentlist .commentlist{padding:0;}
.commentlist .comment-author{
	margin-bottom:0.5em;
	@extend %clearfix;
}
.commentlist .comment-metadata{margin-bottom:0.5em;}
.commentlist .comment-author img{
	float:left;
	margin:0 1.2em 4px 0;
}
.comment .comment-respond{
	margin-left:20px;
}

.comment-body{
	margin:0 0 20px;
}
.comment-body .reply{
	padding-bottom:15px;
}
.parent.comment .comment{
	margin-left:30px;
	@include media("<phone") {
		margin-left:5%;
	}
}
.comment-author.vcard{
	margin-bottom:10px;
}

.breadcrumb{
	padding-bottom:20px;
}
.post .title h3{margin-bottom:1em;}

.divider{
	height:80px;
	@include media("<desktop") {
		height:40px;
	}
	@include media("<tablet") {
		display:none;
	}
}

.wpcf7-not-valid-tip{
	display:block;
	padding-top:5px;
}
.wpcf7-response-output{
	text-align:center;
}
.wpcf7-not-valid-tip,
.wpcf7-validation-errors{
	color:#d93c3c;
}

.error input:not([type="submit"]){
	border-color:red !important;
}

/* Galleries */

.widget .gallery{
	display:flex;
	flex-wrap:wrap;
	margin:0 -10px;
}
.gallery-item{
	max-width:50%;
	margin:0;
	padding:0 10px 1.5em;
	a,
	a:hover,
	a:focus{
		box-shadow:none;
		background:none;
	}
	a:hover img,
	a:focus img{
		filter:opacity(60%);
	}
	img{
		transition:filter $animation-speed ease-in;
		backface-visibility:hidden;
	}
	dt{
		float:none;
		padding:0;
	}
}
.gallery-columns-1 .gallery-item{
	width:100%;
	max-width:100%;
}
.gallery-columns-2 .gallery-item{
	max-width:50%;
}
.gallery-caption{
	display:block;
	text-align:left;
	padding:0 10px 0 0;
	margin-bottom:0;
}

@include media(">=widescreen") {

	/* Gallery Columns */

	.gallery-columns-5 .gallery-item{
		max-width:20%;
	}
	.gallery-columns-6 .gallery-item{
		max-width:16.66%;
	}
	.gallery-columns-7 .gallery-item{
		max-width:14.28%;
	}
	.gallery-columns-8 .gallery-item{
		max-width:12.5%;
	}
	.gallery-columns-9 .gallery-item{
		max-width:11.11%;
	}
}
@include media(">=desktop") {

	/* Gallery Columns */

	.gallery-item{
		max-width:25%;
	}
	.gallery-columns-1 .gallery-item{
		max-width:100%;
	}
	.gallery-columns-2 .gallery-item{
		max-width:50%;
	}
	.gallery-columns-3 .gallery-item{
		max-width:33.333%;
	}
	.gallery-columns-4 .gallery-item{
		max-width:25%;
	}
}

.admin-bar  #header {
	top:32px;
}
@media screen and (max-width:782px ){
	html[lang] {
	    margin-top: 0 !important;
	}
	.admin-bar  #header {
		top: 0;
	}
	#wpadminbar{
		display: none!important;
	}
}