/*
Theme Name: Base
Author: Anonymous
Author URI:
Version: 1
Description: Base theme for Wordpress
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: base
Tags: one-column, two-columns
Theme URI:
*/

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
	font-family: sans-serif; /* 1 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
	margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
	display: inline-block; /* 1 */
	vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
	display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
	outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
	border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
	font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
	font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
	font-size: 2em;
	margin: .67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
	background: #ff0;
	color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
	border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
	overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
	margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
	box-sizing: content-box;
	height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
	overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
	color: inherit; /* 1 */
	font: inherit; /* 2 */
	margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
	overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
	cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
	line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
	border: 0; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
	overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
	font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

.clearfix:after,
dl:after,
.widget:after,
.search-form:after,
.post-password-form p:after,
.post-password-form:after,
#search_block:after,
.search-form p:after,
#search_block p:after,
.navigation-single:after,
.commentlist .comment-author:after {
	content: "";
	display: block;
	clear: both;
}

.ellipsis {
	white-space: nowrap; /* 1 */
	text-overflow: ellipsis; /* 2 */
	overflow: hidden;
}

html {
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	max-height: 1000000px;
}

body {
	height: 100%;
	color: #808080;
	background: #fff;
	font: 14px/2 "Montserrat", "Helvetica", sans-serif;
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

#overlayPP,
.bg-stretch img {
	max-width: inherit !important;
}

.gm-style img {
	max-width: none;
}

ul,
ol,
dl,
p,
h1,
h2,
h3,
h4,
h5,
h6,
address,
form,
table,
blockquote,
applet,
embed,
object,
iframe,
frameset {
	margin: 0 0 2em;
}

blockquote {
	border-left: 4px solid #6e7f7c;
	padding-left: .5em;
	margin-left: 2em;
}

th,
td {
	border: 1px solid #dae0de;
	padding: .5em;
	text-align: left;
	vertical-align: top;
}

th {
	text-align: center;
	vertical-align: middle;
}

ul,
ol {
	padding-left: 3em;
}

ul ul,
ul ol,
ol ul,
ol ol {
	padding-left: 3em;
	margin: 0;
}

ul {
	list-style-type: disc;
}

dl dt {
	float: left;
	clear: left;
	padding-right: .3em;
	font-weight: bold;
}

dl dd {
	overflow: hidden;
}

pre {
	max-width: 100%;
}

form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="password"],
input[type="url"],
input[type="date"],
textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	box-sizing: border-box;
	margin: 0;
	height: 38px;
	background: #f7f7f7;
	border: 1px solid #d1d1d1;
	border-radius: 0;
	font-size: 14px;
	line-height: 1.2;
	padding: 10px 10px;
	outline: none;
	color: #8b8b8b;
}

input[type="text"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #6e7f7c;
}

input[type="text"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="date"]::-moz-placeholder,
textarea::-moz-placeholder {
	opacity: 1;
	color: #6e7f7c;
}

input[type="text"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
input[type="url"]:-moz-placeholder,
input[type="date"]:-moz-placeholder,
textarea:-moz-placeholder {
	color: #6e7f7c;
}

input[type="text"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #6e7f7c;
}

input[type="text"].placeholder,
input[type="tel"].placeholder,
input[type="email"].placeholder,
input[type="search"].placeholder,
input[type="password"].placeholder,
input[type="url"].placeholder,
input[type="date"].placeholder,
textarea.placeholder {
	color: #6e7f7c;
}

select {
	-webkit-border-radius: 0;
}

textarea {
	width: 100%;
	min-height: 155px;
	max-height: 300px;
	resize: none;
	vertical-align: top;
}

button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"],
.btn {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	display: inline-block;
	vertical-align: top;
	background-color: #24352b;
	border: none;
	border-radius: 25px;
	font-size: 14px;
	line-height: 1;
	font-weight: 600;
	text-align: center;
	padding: 12px 20px;
	outline: none;
	color: #fff;
	text-decoration: none;
	-webkit-transition: background .5s ease, opacity .5s ease;
	transition: background .5s ease, opacity .5s ease;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="file"]:hover,
input[type="submit"]:hover,
.btn:hover {
	text-decoration: none;
	background: #808080;
}

/* custom radio styles */

.jcf-radio {
	vertical-align: middle;
	display: inline-block;
	position: relative;
	overflow: hidden;
	cursor: default;
	background: #fff;
	border: 1px solid #777;
	border-radius: 9px;
	margin: 0 3px 0 0;
	height: 16px;
	width: 16px;
}

.jcf-radio span {
	display: none;
	position: absolute;
	top: 3px;
	left: 3px;
	right: 3px;
	bottom: 3px;
	background: #777;
	border-radius: 100%;
}

.jcf-radio input[type="radio"] {
	position: absolute;
	height: 100%;
	width: 100%;
	border: 0;
	margin: 0;
	left: 0;
	top: 0;
}

.jcf-radio.jcf-checked span {
	display: block;
}

/* common custom form elements styles */

.jcf-disabled {
	background: #ddd !important;
}

.jcf-focus,
.jcf-focus * {
	border-color: #f00 !important;
}

.main-block {
	padding: 100px 0 50px;
}

.main-block .container {
	max-width: 1222px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

#content {
	width: 100%;
	padding: 0 0 40px;
}

.sidebar {
	width: 100%;
	min-width: 300px;
	max-width: 300px;
	margin: 0 0 0 40px;
}

.widget {
	margin-bottom: 2em;
}

.widget ul {
	padding-left: 2em;
}

.widget select {
	min-width: inherit;
	width: 100%;
}

.widget a {
	color: inherit;
	text-decoration: none;
}

.widget a:hover {
	color: #007acc;
}

.widget h3 {
	font-size: 20px;
}

.widget .search-form input[type="search"] {
	width: 70%;
}

/* Calendar */

#wp-calendar {
	width: 95%;
	margin-bottom: 15px;
	clear: both;
	padding: 0;
}

#wp-calendar caption {
	padding: 10px;
}

#wp-calendar th,
#wp-calendar td {
	padding: 3px 0;
	text-align: center;
}

#wp-calendar td {
	background: transparent;
}

/* Typography */

ul ul,
ul ol {
	margin: 0;
}

ul > ul > li {
	list-style-type: circle;
}

ol ol,
ol ul {
	margin: 0;
}

ol > ol > li {
	list-style-type: lower-alpha;
}

.comment-form .comment-form-cookies-consent {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.comment-form .comment-form-cookies-consent input[type="checkbox"] {
	margin: 3px 5px 0 0;
}

.comment-form .comment-form-cookies-consent label {
	padding: 0;
}

.comment-form p {
	overflow: hidden;
	padding: 0 0 10px;
	margin: 0;
}

.comment-form label {
	display: block;
	padding: 0 0 5px;
}

.comment-form textarea,
.comment-form input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]) {
	margin: 0 4px 0 0;
	width: 300px;
}

.comment-form textarea {
	width: 100%;
	margin: 0;
}

.comment-form input[type="submit"] {
	display: block;
	float: none;
}

.post-password-form label {
	display: block;
}

.post-password-form input[type="password"] {
	margin: 0 4px 0 0;
	width: 300px;
}

.search-form input {
	float: left;
}

.search-form input[type="search"] {
	margin: 0 4px 0 0;
	width: 50%;
}

.post-password-form input {
	float: left;
}

.post-password-form input[type="password"] {
	width: 150px;
}

.comment-form button,
.comment-form input[type="submit"],
.post-password-form button,
.post-password-form input[type="submit"],
.search-form button,
.search-form input[type="submit"],
#search_block button,
#search_block input[type="submit"] {
	background: #24352b;
	color: #fff;
	height: 40px;
	padding: 0 20px;
}

.search-form,
.post-password-form,
#search_block {
	margin-bottom: 15px;
}

.search-form input,
.post-password-form input,
#search_block input {
	float: left;
	height: 40px;
}

.search-form input[type="search"],
.search-form input[type="text"],
.post-password-form input[type="search"],
.post-password-form input[type="text"],
#search_block input[type="search"],
#search_block input[type="text"] {
	margin: 0 4px 0 0;
	width: 150px;
}

.search-form input[type="password"],
.post-password-form input[type="password"],
#search_block input[type="password"] {
	width: 150px;
}

.search-form input[type="submit"],
.search-form button,
.post-password-form input[type="submit"],
.post-password-form button,
#search_block input[type="submit"],
#search_block button {
	height: 40px;
}

.commentlist {
	margin: 0 0 2em;
}

.commentlist .edit-link {
	margin: 0;
}

.commentlist .avatar-holder {
	float: left;
	margin: 0 2em 4px 0;
}

.commentlist-item .commentlist-item {
	padding: 0;
}

.comment,
.commentlist-holder {
	overflow: hidden;
}

.commentlist-item .commentlist-item,
.commentlist-item + .commentlist-item {
	padding-top: 2em;
}

.widget_calendar #prev {
	padding-left: 5px;
	text-align: left;
}

.widget_calendar #next {
	padding-right: 5px;
	text-align: right;
}

.navigation,
.navigation-comments,
.pagination {
	position: relative;
	vertical-align: middle;
	padding: 10px 0 20px 0;
	width: 100%;
	overflow: hidden;
}

.navigation .screen-reader-text,
.navigation-comments .screen-reader-text,
.pagination .screen-reader-text {
	position: absolute;
	left: -99999px;
}

.navigation .current,
.navigation-comments .current,
.pagination .current {
	color: #ccc;
}

.navigation .page-numbers,
.navigation-comments .page-numbers,
.pagination .page-numbers {
	display: inline-block;
	vertical-align: middle;
	padding: 10px 15px;
}

.navigation .page-numbers.current:hover,
.navigation-comments .page-numbers.current:hover,
.pagination .page-numbers.current:hover {
	background: none;
	color: #ccc;
}

.navigation .next,
.navigation .prev,
.navigation .al,
.navigation .ar,
.navigation-comments .next,
.navigation-comments .prev,
.navigation-comments .al,
.navigation-comments .ar,
.pagination .next,
.pagination .prev,
.pagination .al,
.pagination .ar {
	display: inline-block;
	vertical-align: middle;
	max-width: 50%;
	background: #24352b;
	color: #fff;
	text-decoration: none;
	border-radius: 0;
	font-weight: bold;
	line-height: 1;
	border-radius: 25px;
}

.navigation .next.disabled,
.navigation .prev.disabled,
.navigation .al.disabled,
.navigation .ar.disabled,
.navigation-comments .next.disabled,
.navigation-comments .prev.disabled,
.navigation-comments .al.disabled,
.navigation-comments .ar.disabled,
.pagination .next.disabled,
.pagination .prev.disabled,
.pagination .al.disabled,
.pagination .ar.disabled {
	background: #b3b3b3;
	border-color: #b3b3b3;
	pointer-events: none;
}

.navigation .next a,
.navigation .prev a,
.navigation .al a,
.navigation .ar a,
.navigation-comments .next a,
.navigation-comments .prev a,
.navigation-comments .al a,
.navigation-comments .ar a,
.pagination .next a,
.pagination .prev a,
.pagination .al a,
.pagination .ar a {
	display: inline-block;
	vertical-align: top;
	padding: 10px 15px;
	color: #fff;
	text-decoration: none;
	border-radius: 25px;
}

.navigation a,
.navigation-comments a,
.pagination a {
	color: inherit;
}

.navigation-single {
	margin-bottom: 2em;
}

.navigation-single .next,
.navigation-single .prev {
	float: left;
	vertical-align: middle;
	max-width: 50%;
	background: #24352b;
	color: #fff;
	text-decoration: none;
}

.navigation-single .next a,
.navigation-single .prev a {
	color: inherit;
	text-decoration: none;
	padding: 5px;
	display: block;
}

.navigation-single .next {
	float: right;
}

/* Begin Images */

img.border {
	padding: 5px;
	border: 1px solid #ccc;
}

.wp-caption {
	clear: both;
	border: 1px solid #6e7f7c;
	max-width: 96%; /* Image does not overflow the content area */
	padding: 5px 3px;
	text-align: center;
}

.wp-caption.alignnone {
	margin: 5px 0 20px 0;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: top;
	width: auto;
	max-width: 98.5%;
}

.wp-caption p {
	margin: .4em 0 0;
}

div.aligncenter,
figure.aligncenter {
	margin: 0 auto 2em;
	text-align: center;
}

img.aligncenter {
	display: block;
	margin: 0 auto 20px;
}

.aligncenter {
	margin: 5px auto 20px auto;
}

.alignleft {
	float: left;
	margin: 0 2em 10px 0;
}

.alignright {
	float: right;
	margin: 0 0 10px 2em;
}

.alignnone {
	margin: 0;
}

img.wp-smiley {
	padding: 0;
	border: none;
}

a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

a img.alignnone {
	margin: 0;
}

a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* can use for responsive iframe*/

.fluid-iframe {
	display: block;
	position: relative;
	padding-bottom: 60%;
}

.fluid-iframe iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
}

.mejs-container {
	margin-bottom: 2em;
}

.wp-caption .wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 5px 0 0;
	text-align: center;
}

.wp-caption-text,
.gallery,
.alignnone,
.gallery-caption,
.sticky,
.bypostauthor {
	height: auto;
}

.al,
.navigation .next {
	float: left;
}

.ar,
.navigation .prev {
	float: right;
}

.posts-list .entry p {
	margin: 0;
}

.posts-list .post {
	margin: 0 0 60px;
}

.title {
	margin-bottom: 1.2em;
	text-transform: uppercase;
}

.title h1 {
	margin: 0;
}

.post .title {
	margin-bottom: 10px;
}

.post .postmetadata {
	margin-bottom: 10px;
}

.textwidget p {
	padding: 0 0 10px 0;
}

.center {
	text-align: center;
}

.hidden {
	display: none;
}

code br {
	display: none;
}

pre,
code {
	font-family: mono-space, monospace;
	border: 1px solid #eee;
	padding: 20px;
	display: block;
	margin: 0 0 20px 0;
	overflow: auto;
	white-space: pre;
	font-size: 12px;
	line-height: 20px;
}

code {
	padding: 1px 20px 0 20px;
	background: #f6f6f6;
	border-top: 0;
	border-bottom: 0;
}

/* Various Tags & Classes */

acronym,
abbr,
span.caps {
	cursor: help;
}

acronym,
abbr {
	border-bottom: 1px dashed #dfcfba;
}

blockquote {
	margin: 0 0 1.2em;
}

blockquote cite {
	display: block;
	padding-top: 5px;
}

sup {
	position: relative;
	top: -5px;
}

sub {
	position: relative;
	top: 5px;
}

.last {
	margin-right: 0 !important;
	clear: right;
}

.clear {
	clear: both;
	line-height: 0;
}

.page-link {
	padding: 0 0 15px;
}

/* Respond */

.comments {
	clear: both;
}

#respond {
	margin: 20px 0 20px 0;
	overflow: hidden;
}

.commentlist #respond {
	margin: 0 0 20px 0;
}

#respond .comment-reply-title small {
	font-size: 12px;
	font-weight: normal;
}

/* Comments*/

#comments,
#reply-title {
	margin: 0 0 15px 0;
	line-height: 1.6em;
}

.commentlist {
	margin-left: -2em;
	padding: 0;
	text-align: justify;
	line-height: 1.6em;
}

.commentlist .comment {
	padding: 0 0 0 2em;
}

.commentlist .comment,
.commentlist + .comment {
	padding-top: 1.2em;
}

.commentlist .commentlist {
	padding: 0;
}

.commentlist .comment-author {
	margin-bottom: .5em;
}

.commentlist .comment-metadata {
	margin-bottom: .5em;
}

.commentlist .comment-author img {
	float: left;
	margin: 0 1.2em 4px 0;
}

.comment .comment-respond {
	margin-left: 20px;
}

.comment-body {
	margin: 0 0 20px;
}

.comment-body .reply {
	padding-bottom: 15px;
}

.parent.comment .comment {
	margin-left: 30px;
}

.comment-author.vcard {
	margin-bottom: 10px;
}

.breadcrumb {
	padding-bottom: 20px;
}

.post .title h3 {
	margin-bottom: 1em;
}

.divider {
	height: 80px;
}

.wpcf7-not-valid-tip {
	display: block;
	padding-top: 5px;
}

.wpcf7-response-output {
	text-align: center;
}

.wpcf7-not-valid-tip,
.wpcf7-validation-errors {
	color: #d93c3c;
}

.error input:not([type="submit"]) {
	border-color: red !important;
}

/* Galleries */

.widget .gallery {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 -10px;
}

.gallery-item {
	max-width: 50%;
	margin: 0;
	padding: 0 10px 1.5em;
}

.gallery-item a,
.gallery-item a:hover,
.gallery-item a:focus {
	box-shadow: none;
	background: none;
}

.gallery-item a:hover img,
.gallery-item a:focus img {
	filter: opacity(60%);
}

.gallery-item img {
	-webkit-transition: filter .3s ease-in;
	transition: filter .3s ease-in;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.gallery-item dt {
	float: none;
	padding: 0;
}

.gallery-columns-1 .gallery-item {
	width: 100%;
	max-width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-caption {
	display: block;
	text-align: left;
	padding: 0 10px 0 0;
	margin-bottom: 0;
}

.admin-bar #header {
	top: 32px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
	font-family: inherit;
	font-weight: 600;
	margin: 0 0 .5em;
	color: #24352b;
}

h1,
.h1 {
	font-size: 30px;
}

h2,
.h2 {
	font-size: 27px;
}

h3,
.h3 {
	font-size: 24px;
}

h4,
.h4 {
	font-size: 21px;
}

h5,
.h5 {
	font-size: 17px;
}

h6,
.h6 {
	font-size: 15px;
}

h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a,
h6 a,
.h6 a,
.h a {
	color: inherit;
}

h1 a:hover,
.h1 a:hover,
h2 a:hover,
.h2 a:hover,
h3 a:hover,
.h3 a:hover,
h4 a:hover,
.h4 a:hover,
h5 a:hover,
.h5 a:hover,
h6 a:hover,
.h6 a:hover,
.h a:hover {
	color: inherit;
}

p {
	margin: 0 0 28px;
}

a {
	color: #007acc;
	text-decoration: none;
	outline: none;
	-webkit-transition: color .5s ease, opacity .5s ease;
	transition: color .5s ease, opacity .5s ease;
}

a:hover {
	text-decoration: underline;
}

@font-face {
	font-family: "icomoon";
	src: url("fonts/icomoon.ttf?by75b3") format("truetype"), url("fonts/icomoon.woff?by75b3") format("woff"), url("fonts/icomoon.svg?by75b3#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1; /* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-click:before {
	content: "\e903";
}

.icon-basket:before {
	content: "\e900";
}

.icon-facebook:before {
	content: "\e901";
}

.icon-instagram:before {
	content: "\e902";
}

body:not(.custom-background-image):before,
body:not(.custom-background-image):after {
	display: none !important;
}

.site-header {
	padding-left: 0;
	padding-right: 0;
}

.site {
	margin: 0;
	font-size: 14px;
	line-height: 1.4;
}

/* .site-inner{
	max-width:1096px;
} */

.entry-title,
.main-navigation {
	font-family: "Montserrat", sans-serif;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-summary h1,
.entry-summary h2,
.entry-summary h3,
.entry-summary h4,
.entry-summary h5,
.entry-summary h6,
.comment-content h1,
.comment-content h2,
.comment-content h3,
.comment-content h4,
.comment-content h5,
.comment-content h6,
.textwidget h1,
.textwidget h2,
.textwidget h3,
.textwidget h4,
.textwidget h5,
.textwidget h6 {
	font-weight: 600;
}

.site-branding .site-title a {
	text-decoration: none;
}

.entry-content a {
	text-decoration: none;
}

.main-navigation ul {
	padding: 0;
}

.main-navigation ul a {
	text-decoration: none;
}

.entry-header,
.entry-summary,
.entry-content,
.entry-footer,
.page-content {
	margin-left: 0;
}

.entry-header,
.post-thumbnail,
.entry-content,
.entry-summary,
.entry-footer,
.comments-area,
.image-navigation,
.post-navigation,
.page-header,
.page-content,
.content-bottom-widgets {
	margin-right: 0;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
	background: #24352b;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
	background: #505451;
}

.woocommerce table.shop_table_responsive tr td::before,
.woocommerce-page table.shop_table_responsive tr td::before {
	color: #24352b;
}

.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
	height: 38px;
}

.woocommerce td.product-name dl.variation dt {
	color: #24352b;
}

.woocommerce-error {
	line-height: 1.6;
}

.woocommerce form .form-row label {
	font-weight: 700;
}

select,
#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text {
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	margin: 0;
	height: 38px;
	background: #f7f7f7;
	border: 1px solid #d1d1d1;
	border-radius: 0;
	font-size: 14px;
	line-height: 1.2;
	padding: 10px 10px;
	outline: none;
	box-shadow: none;
}

select::-webkit-input-placeholder,
#add_payment_method table.cart td.actions .coupon .input-text::-webkit-input-placeholder,
.woocommerce-cart table.cart td.actions .coupon .input-text::-webkit-input-placeholder,
.woocommerce-checkout table.cart td.actions .coupon .input-text::-webkit-input-placeholder {
	color: #6e7f7c;
}

select::-moz-placeholder,
#add_payment_method table.cart td.actions .coupon .input-text::-moz-placeholder,
.woocommerce-cart table.cart td.actions .coupon .input-text::-moz-placeholder,
.woocommerce-checkout table.cart td.actions .coupon .input-text::-moz-placeholder {
	opacity: 1;
	color: #6e7f7c;
}

select:-moz-placeholder,
#add_payment_method table.cart td.actions .coupon .input-text:-moz-placeholder,
.woocommerce-cart table.cart td.actions .coupon .input-text:-moz-placeholder,
.woocommerce-checkout table.cart td.actions .coupon .input-text:-moz-placeholder {
	color: #6e7f7c;
}

select:-ms-input-placeholder,
#add_payment_method table.cart td.actions .coupon .input-text:-ms-input-placeholder,
.woocommerce-cart table.cart td.actions .coupon .input-text:-ms-input-placeholder,
.woocommerce-checkout table.cart td.actions .coupon .input-text:-ms-input-placeholder {
	color: #6e7f7c;
}

select.placeholder,
#add_payment_method table.cart td.actions .coupon .input-text.placeholder,
.woocommerce-cart table.cart td.actions .coupon .input-text.placeholder,
.woocommerce-checkout table.cart td.actions .coupon .input-text.placeholder {
	color: #6e7f7c;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	outline: none;
	cursor: pointer;
	padding: 12px 12px;
	font-size: 14px;
	line-height: 1;
	display: inline-block;
	vertical-align: middle;
	background-color: #24352b;
	color: #fff;
	font-weight: 600;
	border: none;
	text-align: center;
	border-radius: 25px;
	-webkit-transition: background .5s ease, opacity .5s ease;
	transition: background .5s ease, opacity .5s ease;
}

.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
	text-decoration: none;
	background: #808080;
	color: #fff;
}

button,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus {
	text-transform: none;
}

.woocommerce form .form-row label.inline {
	display: inline-block;
	vertical-align: middle;
}

.select2-container .select2-selection--single {
	height: 38px;
}

.select2-container--default .select2-selection--single {
	background: #f7f7f7;
	border-radius: 0;
	border: 1px solid #d1d1d1;
}

.select2-container .select2-selection--single .select2-selection__rendered {
	padding: 4px 35px 4px 12px;
	font-size: 14px;
	color: #808080;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
	margin-left: -8px;
	margin-top: 3px;
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
	border-radius: 0;
}

.site-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.site-content .content-area {
	width: 100%;
	float: none;
	margin: 0;
}

.site-content .sidebar {
	padding: 0;
	float: none;
	width: auto;
}

.woocommerce form .form-row {
	padding: 0;
	margin: 0 0 15px;
}

.woocommerce-product-search input[type="search"].search-field {
	width: calc(100% - 150px);
}

.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
	margin-right: 10px;
}

.woocommerce .quantity .qty {
	padding: .25em .3em;
}

.woocommerce-account .addresses .title h3 {
	float: none;
}

.site-footer {
	padding: 0 0 1.75em;
}

body {
	position: relative;
}

body:after {
	display: none;
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 10;
	background: rgba(0, 0, 0, .4);
}

body.nav-active {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
}

body.nav-active .nav-slide {
	-webkit-transform: translate(0px);
	-ms-transform: translate(0px);
	transform: translate(0px);
	-webkit-transition-duration: .8s;
	transition-duration: .8s;
}

body.nav-active:after {
	display: block !important;
}

body.page-scrolled #header {
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .2);
}

#wrapper {
	width: 100%;
	height: 100%;
	display: table;
	table-layout: fixed;
	margin: 0 auto;
	overflow: hidden;
}

.w1 {
	width: 100%;
	overflow: hidden;
	position: relative; /* 	padding-top:104px;
	@include media('<tablet') {
		padding-top:82px;
	} */
}

.container {
	max-width: 1096px;
	margin: 0 auto;
	padding: 0 15px;
}

.container:after {
	display: block;
	clear: both;
	content: "";
}

.bg-stretch {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	background-size: cover;
	background-position: 50%;
}

.vhidden {
	visibility: hidden !important;
}

.nav-slide {
	width: 400px;
	position: fixed;
	overflow: hidden;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 20;
	text-align: left;
	background: #fff;
	-webkit-transform: translate(400px);
	-ms-transform: translate(400px);
	transform: translate(400px);
	-webkit-transition-duration: .8s;
	transition-duration: .8s;
	color: #24352b;
}

.nav-slide .slide-holder {
	height: 100%;
	overflow: hidden;
	padding: 50px;
}

.nav-slide h2 {
	color: #24352b;
	font-size: 26px;
	line-height: 1;
	border-bottom: 1px solid #e1e1e1;
	padding: 0 0 45px;
	margin: 0 0 30px;
}

.nav-opener.icon-basket {
	display: block;
	font-size: 26px;
	line-height: 1;
	color: #24352b;
	position: relative;
	text-decoration: none;
	margin: 0 0 0 71px;
	display: inline-block;
	vertical-align: middle;
}

.nav-opener.icon-basket .num {
	position: absolute;
	left: -8px;
	top: 10px;
	z-index: 2;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: #fcc85d;
	font-family: "GothamBold";
	font-size: 8px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.nav-opener .close {
	overflow: hidden;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 50px;
	right: 40px;
	z-index: 2;
}

.nav-opener .close:before,
.nav-opener .close:after {
	content: "";
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	z-index: 30;
	height: 2px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	background: #000;
}

.nav-opener .close:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.nav-opener:hover {
	color: #6e7f7c;
}

#header {
	background: #fff; /* 	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:4; */
}

#header .container {
	max-width: 1272px;
	padding-top: 41px;
	padding-bottom: 36px;
}

#header .logo {
	margin: 0 0 -1px 27px;
}

.header-holder {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.links-holder {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.social-networks {
	margin: 6px 0 0;
	padding: 0;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 19px;
	line-height: 1;
}

.social-networks li {
	list-style: none;
	margin: 0 0 0 29px;
}

.social-networks a {
	color: #24352b;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
}

.social-networks a:hover {
	color: #6e7f7c;
}

.visual {
	height: calc(100vh - 104px);
	min-height: 650px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: #fff;
}

.visual .container {
	position: relative;
	z-index: 2;
}

.visual .text-area {
	padding: 177px 0 53px;
	text-align: center;
}

.visual .sub-title {
	display: block;
	font-size: 16px;
	line-height: 1.3;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0 0 15px;
}

.visual h1 {
	font-size: 82px;
	line-height: 1.3;
	font-weight: 600;
	color: #fff5ae;
	margin: 0 0 98px;
}

.visual .btn {
	background: #fff;
	color: #000;
	font-size: 16px;
	line-height: 1;
	letter-spacing: .5px;
	padding: 17px 35px;
}

.visual .btn:hover {
	color: #6e7f7c;
}

.about-block {
	position: relative;
	padding: 137px 0 245px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 2;
}

.about-block .container {
	max-width: 990px;
}

.about-block .text-frame {
	max-width: 690px;
	margin: 0 auto 115px;
}

.about-block .text-frame p {
	margin: 0;
}

.about-block h2 {
	font-family: "PT Serif";
	font-size: 36px;
	line-height: 1.3;
	letter-spacing: 2.5px;
	font-weight: normal;
	color: #808080;
	margin: 0 0 44px;
}

.about-block .decor01 {
	position: absolute;
	top: 31%;
	left: 0;
	z-index: 1;
	width: 208px;
}

.about-block .decor02 {
	position: absolute;
	right: 0;
	bottom: 27%;
	z-index: 1;
	width: 135px;
}

.img-parallax {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	pointer-events: none;
}

.items-holder {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 -50px;
	line-height: 1.57;
	font-size: 14px;
}

.items-holder .item {
	width: 33.33%;
	padding: 0 50px;
}

.items-holder .ico {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	min-height: 52px;
	margin: 0 0 39px;
}

.items-holder h3 {
	font-size: 14px;
	line-height: 1.3;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 3.4px;
	color: #24352b;
	margin: 0 0 23px;
}

.product-block {
	background: #dae0de;
	padding: 70px 0 0;
	text-align: center;
}

.product-block .container {
	position: relative;
	z-index: 2;
	max-width: 960px;
}

.product-block h2 {
	font-size: 14px;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 3px;
	color: #808080;
	margin: 0 0 14px;
}

.product-block .title {
	display: inline-block;
	vertical-align: middle;
	font-family: "PT Serif";
	font-size: 36px;
	line-height: 1.2;
	letter-spacing: 2px;
	text-transform: none;
	color: #24352b;
	margin: 0 0 20px;
}

.product-block .title .title-top,
.product-block .title .title-base {
	display: inline-block;
	vertical-align: middle;
}

.product-block .title .plus {
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px;
}

.product-block .holder {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0 0 25px;
}

.product-block .price {
	font-size: 34px;
	line-height: 1.2;
	font-weight: 600;
	color: #24352b;
	margin: 0 30px 0 0;
}

.product-block .btn {
	font-size: 14px;
	line-height: 1;
	font-weight: 600;
	letter-spacing: .5px;
	padding: 14px 29px;
}

.size {
	position: absolute;
	bottom: -6px;
	left: 50%;
	z-index: 2;
	margin-left: -83px;
	font-family: "PT Serif";
	font-size: 14px;
	line-height: 1.3;
	letter-spacing: .1px;
	color: #6e7f7c;
}

.size .size-l,
.size .size-w,
.size .size-h {
	display: inline-block;
	vertical-align: middle;
}

.size .span-x {
	display: inline-block;
	vertical-align: middle;
	margin: 0 4px;
}

.slider-top.slick-initialized .slick-slide,
.slider-base.slick-initialized .slick-slide {
	display: block;
}

.slider-top .slide,
.slider-base .slide {
	display: none;
}

.slider-top .slide.active,
.slider-base .slide.active {
	display: block;
}

.slider-top .slick-slide img,
.slider-base .slick-slide img {
	margin: 0 auto;
	width: 100%;
}

.slider-top {
	position: relative;
	z-index: 3;
}

.slider-top .img-holder {
	width: 80%;
	margin: 0 auto;
}

.slider-base {
	margin: -100px 0 0;
}

.slider-base .img-holder {
	width: 55%;
	margin: 0 auto 30px;
}

.product-settings {
	position: relative;
	z-index: 2;
	border-top: 1px solid #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 31px 0 0;
}

.product-settings.left-active .left-area {
	width: 72.5%;
}

.product-settings.left-active .left-area .title-area {
	padding: 0;
}

.product-settings.left-active .left-area h2 {
	position: absolute;
	top: 50%;
	left: -116px;
	z-index: 2;
	-webkit-transform: rotate(-90deg) translateY(-50%);
	-ms-transform: rotate(-90deg) translateY(-50%);
	transform: rotate(-90deg) translateY(-50%);
	margin: -13px 0 0;
}

.product-settings.left-active .left-area .opener {
	position: absolute;
	top: 50%;
	right: 35px;
	z-index: 2;
	margin: -25px 0 0;
}

.product-settings.left-active .left-area .opener .icon-click {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.product-settings.left-active .left-area .toggle-block {
	margin: 0 0 0 auto;
	padding: 0 80px 0 0;
}

.product-settings.left-active .left-area .toggle-block .slide-area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.product-settings.left-active .right-area {
	width: 27.5%;
}

.product-settings.right-active .right-area {
	width: 72.5%;
}

.product-settings.right-active .right-area .title-area {
	padding: 0;
}

.product-settings.right-active .right-area h2 {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 2;
	-webkit-transform: rotate(-90deg) translateY(-50%);
	-ms-transform: rotate(-90deg) translateY(-50%);
	transform: rotate(-90deg) translateY(-50%);
	margin: -9px 0 0;
}

.product-settings.right-active .right-area .opener {
	position: absolute;
	top: 50%;
	right: -94px;
	z-index: 2;
	margin: -25px 0 0;
}

.product-settings.right-active .right-area .opener .icon-click {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.product-settings.right-active .right-area .toggle-block {
	margin: 0 auto 0 0;
	padding: 0 0 0 138px;
}

.product-settings.right-active .right-area .toggle-block .slide-area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.product-settings.right-active .left-area {
	width: 27.5%;
}

.product-settings .left-area {
	width: 50%;
}

.product-settings .left-area .title-area {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.product-settings .right-area {
	width: 50%;
	border-left: 1px solid #fff;
}

.product-settings .right-area .sub-slider-holder {
	width: 590px;
}

.product-settings .right-area .title-area {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.product-settings .right-area .slider-nav {
	right: -20px;
}

.product-settings .right-area .side-holder {
	right: -93px;
}

.product-settings.remove-active .sub-slider-holder {
	display: none;
}

.product-settings.remove-active .side-holder {
	display: none;
}

.product-settings.remove-active .remove-block {
	display: block;
}

.toggle-block {
	max-width: 852px;
	padding: 88px 70px;
	position: relative;
}

.toggle-block .title-area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.toggle-block .title-area h2 {
	margin: 0;
}

.toggle-block .opener {
	width: 42px;
	height: 42px;
	border-radius: 50%;
	background: #fff;
	margin: 0 0 0 36px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-decoration: none;
	color: #999;
}

.toggle-block .opener .icon-click {
	font-size: 18px;
	line-height: 1;
	-webkit-transition: all .5s linear;
	transition: all .5s linear;
}

.toggle-block .slide-area {
	display: none;
	padding: 40px 0;
	text-align: left;
}

.sub-slider-holder {
	width: 620px;
	overflow: hidden;
}

.sub-slider-top,
.sub-slider-base {
	margin: 0 -70px 0 0;
	position: relative;
}

.sub-slider-top.slick-initialized .slick-slide,
.sub-slider-base.slick-initialized .slick-slide {
	display: block;
}

.sub-slider-top .slide,
.sub-slider-base .slide {
	display: none;
	padding: 0 15px;
	outline: none; /* &.active, */
}

.sub-slider-top .slide.active,
.sub-slider-base .slide.active {
	display: block;
}

.sub-slider-top .slide.slick-current .image-box,
.sub-slider-base .slide.slick-current .image-box {
	background: #fff;
	border-bottom-color: #fdc966;
}

.sub-slider-top .slide.slick-current .text-box,
.sub-slider-base .slide.slick-current .text-box {
	visibility: visible;
}

.sub-slider-top .image-box,
.sub-slider-base .image-box {
	height: 82px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-bottom: 3px solid transparent;
	margin: 0 0 14px;
}

.sub-slider-top .text-box,
.sub-slider-base .text-box {
	visibility: hidden;
	font-size: 14px;
	line-height: 1.2;
	color: #666;
}

.sub-slider-top h3,
.sub-slider-base h3 {
	font-size: 12px;
	line-height: 1.2;
	letter-spacing: .4px;
	color: #000;
	margin: 0 0 3px;
}

.sub-slider-top p,
.sub-slider-base p {
	margin: 0;
}

.slider-nav {
	position: absolute;
	top: 70px;
	right: 100px;
	z-index: 2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.slider-nav .paging-info,
.slider-nav .paging-info-base {
	margin: 0 26px;
	font-size: 12px;
	font-weight: bold;
	color: #9a9a9a;
}

.slider-nav .slick-arrow {
	font-size: 0;
	line-height: 0;
	border-style: solid;
	border-width: 7.5px 0 7.5px 8px;
	border-color: transparent transparent transparent #000;
	padding: 0;
	border-radius: 0;
	background: transparent; /* 		&.slick-disabled{
			visibility:hidden !important;
		} */
}

.slider-nav .slick-arrow.prev,
.slider-nav .slick-arrow.prev-base {
	border-width: 7.5px 8px 7.5px 0;
	border-color: transparent #000 transparent transparent;
}

.product-info .size {
	position: static;
	margin: 0;
	font-family: "Montserrat";
	font-size: 12px;
	line-height: 1.3;
	letter-spacing: .4px;
	color: #808080;
}

.side-holder {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: absolute;
	bottom: 40px;
	right: 33px;
	z-index: 2;
}

.side-holder .size-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.side-holder h3 {
	font-size: 12px;
	line-height: 1.2;
	color: #24352b;
	margin: 0 25px 0 0;
}

.side-holder ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 14px;
	line-height: 1;
	letter-spacing: 1px;
}

.side-holder ul li {
	margin: 0 10px;
	position: relative;
}

.side-holder ul li.active .num {
	background: #fff;
	border-bottom-color: #fdc966;
}

.side-holder ul .num {
	display: block;
	padding: 9px 8px 6px;
	border-bottom: 4px solid transparent;
	text-decoration: none;
	font-weight: bold;
	color: #24352b;
	position: relative;
}

.side-holder ul .num sup {
	position: absolute;
	top: 15px;
	right: 4px;
	z-index: 2;
	font-size: 14px;
	font-style: italic;
}

.side-holder ul .jcf-radio {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	width: inherit;
	height: inherit;
	border: none;
	margin: 0;
	border-radius: 0;
	background: transparent;
}

.side-holder ul .jcf-radio.jcf-checked span {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 0;
	background: transparent;
}

.remove {
	margin: 0 0 0 45px;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: .5px;
}

.remove .remove-link {
	color: #343434;
	text-decoration: underline;
}

.remove .remove-link:hover {
	text-decoration: none;
}

.remove-block {
	display: none;
	font-size: 12px;
	line-height: 1.2;
	font-weight: 600;
	letter-spacing: .6px;
	margin: 0;
	padding: 60px 53px;
}

.remove-block p {
	margin: 0;
}

.remove-block a {
	color: #24352b;
	text-decoration: underline;
}

.remove-block a:hover {
	text-decoration: none;
}

.description-block {
	background: #fafafa;
	font-size: 15px;
	line-height: 2.1;
	letter-spacing: 1.6px;
	padding: 80px 0;
}

.description-block .block-holder {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 73px 0;
}

.description-block .img-holder {
	width: 56%;
	position: relative;
}

.description-block .img-holder:after {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	height: 93%;
	width: 50px;
	background: #fafafa;
}

.description-block .img-holder img {
	width: 100%;
}

.description-block .text-holder {
	width: 44%;
}

.description-block .text-holder .frame {
	padding: 30px 90px 63px 7px;
	background: #fafafa;
}

.description-block .text-holder .frame p {
	margin: 0;
}

.description-block h2 {
	font-family: "PT Serif";
	font-size: 35px;
	line-height: 1.3;
	letter-spacing: 1.5px;
	font-weight: normal;
	color: #808080;
	margin: 0 0 35px;
}

.social-section {
	padding: 103px 0 80px;
}

.social-section h2 {
	font-size: 40px;
	line-height: 1;
	letter-spacing: -.2px;
	color: #24352b;
	margin: 0 0 22px;
}

.social-section .link {
	display: inline-block;
	vertical-align: top;
	font-size: 30px;
	line-height: 1;
	font-weight: 600;
	color: #6e7f7c;
	text-decoration: none;
	margin: 0 0 114px;
}

.social-section .link:hover {
	text-decoration: underline;
}

.social-section .links-img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.social-section .link-img {
	display: block;
	width: 25%;
}

.social-section .link-img:hover {
	opacity: .75;
}

.social-section .link-img img {
	width: 100%;
}

#footer {
	display: table-footer-group;
	height: 1%;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.footer-holder {
	padding: 90px 0;
	background: #333;
	color: #fff;
	position: relative;
}

.footer-holder .container {
	max-width: 986px;
}

.footer-holder .row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0 -25px;
}

.footer-holder .col {
	width: 40%;
	padding: 0 25px;
}

.footer-holder .social-networks {
	font-size: 14px;
	margin: 39px 38px 0 0;
}

.footer-holder .social-networks li {
	margin: 0 35px 0 0;
}

.footer-holder .social-networks a {
	color: #fff;
}

.footer-holder .holder {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.footer-holder h2 {
	font-size: 20px;
	line-height: 1;
	letter-spacing: 1px;
	color: #fff;
	margin: 0 0 24px;
}

.footer-holder .links-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 12px;
	line-height: 1;
	letter-spacing: 1.5px;
}

.footer-holder .links-list li {
	margin: 0 56px 0 0;
}

.footer-holder .links-list a {
	color: #999;
	text-decoration: none;
}

.footer-holder .links-list a:hover {
	color: #fff;
}

.footer-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	margin: -35px 0 0 -45px;
}

.form-block {
	max-width: 180px;
	text-align: left;
}

.form-block input[type="text"],
.form-block input[type="email"],
.form-block input[type="search"] {
	width: 100%;
	border: 1px solid #3d403f;
	height: 40px;
	background: #333;
	font-size: 12px;
	line-height: 1;
	color: #fff;
	padding: 12px 10px;
	letter-spacing: 1.5px;
}

.form-block input[type="text"]::-webkit-input-placeholder,
.form-block input[type="email"]::-webkit-input-placeholder,
.form-block input[type="search"]::-webkit-input-placeholder {
	color: #fff;
}

.form-block input[type="text"]::-moz-placeholder,
.form-block input[type="email"]::-moz-placeholder,
.form-block input[type="search"]::-moz-placeholder {
	opacity: 1;
	color: #fff;
}

.form-block input[type="text"]:-moz-placeholder,
.form-block input[type="email"]:-moz-placeholder,
.form-block input[type="search"]:-moz-placeholder {
	color: #fff;
}

.form-block input[type="text"]:-ms-input-placeholder,
.form-block input[type="email"]:-ms-input-placeholder,
.form-block input[type="search"]:-ms-input-placeholder {
	color: #fff;
}

.form-block input[type="text"].placeholder,
.form-block input[type="email"].placeholder,
.form-block input[type="search"].placeholder {
	color: #fff;
}

.form-block .form-control {
	margin: -12px 0 0;
}

@media (min-width: 768px) {
	.commentlist-item .commentlist-item {
		padding: 0 0 0 2em;
	}
}

@media (min-width: 910px) {
	.woocommerce-product-search input[type="search"].search-field {
		width: calc(100% - 100px);
		height: 38px;
		font-size: 14px;
		line-height: 1;
	}

	.price_slider_amount input[type="text"] {
		width: 34%;
		height: 38px;
		font-size: 14px;
		line-height: 1;
	}
}

@media (min-width: 1024px) {
	/* Gallery Columns */

	.gallery-item {
		max-width: 25%;
	}

	.gallery-columns-1 .gallery-item {
		max-width: 100%;
	}

	.gallery-columns-2 .gallery-item {
		max-width: 50%;
	}

	.gallery-columns-3 .gallery-item {
		max-width: 33.333%;
	}

	.gallery-columns-4 .gallery-item {
		max-width: 25%;
	}
}

@media (min-width: 1440px) {
	/* Gallery Columns */

	.gallery-columns-5 .gallery-item {
		max-width: 20%;
	}

	.gallery-columns-6 .gallery-item {
		max-width: 16.66%;
	}

	.gallery-columns-7 .gallery-item {
		max-width: 14.28%;
	}

	.gallery-columns-8 .gallery-item {
		max-width: 12.5%;
	}

	.gallery-columns-9 .gallery-item {
		max-width: 11.11%;
	}
}

@media (max-width: 1439px) {
	.widget h3 {
		font-size: 17px;
	}

	.site {
		margin: 20px 45px;
	}

	.vhidden {
		display: none !important;
	}

	#header .logo {
		margin: 0;
	}

	.social-networks {
		margin: 0;
	}

	.about-block {
		padding: 135px 0;
	}

	.about-block .decor01 {
		display: none !important;
	}

	.about-block .decor02 {
		display: none !important;
	}

	.product-block h2 {
		letter-spacing: 1.5px;
	}

	.product-settings.left-active .left-area h2 {
		left: -93px;
	}

	.product-settings.right-active .right-area .opener {
		right: -60px;
	}

	.product-settings.right-active .right-area .toggle-block {
		padding: 0 0 0 95px;
	}

	.product-settings.right-active .right-area .toggle-block .slide-area {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.product-settings .right-area .sub-slider-holder {
		width: 460px;
	}

	.product-settings .right-area .slider-nav {
		right: -15px;
	}

	.product-settings .right-area .side-holder {
		right: -58px;
	}

	.toggle-block {
		max-width: 650px;
		padding: 88px 30px;
	}

	.toggle-block .opener {
		margin: 0 0 0 45px;
	}

	.sub-slider-holder {
		width: 460px;
	}

	.sub-slider-top,
	.sub-slider-base {
		margin: 0;
	}

	.slider-nav {
		right: 70px;
	}

	.side-holder {
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		bottom: 20px;
		right: 32px;
	}

	.side-holder .size-nav {
		margin: 0 0 10px;
	}

	.side-holder ul li {
		margin: 0 0 0 15px;
	}

	.remove {
		margin: 0 5px 0 0;
	}

	.description-block .img-holder:after {
		width: 40px;
	}

	.description-block .text-holder .frame {
		padding: 30px 15px 63px 7px;
	}
}

@media (max-width: 1023px) {
	body {
		font-size: 16px;
		line-height: 1.2;
	}

	.main-block {
		padding: 45px 0;
	}

	.main-block .container {
		display: block;
	}

	.sidebar {
		min-width: 0;
		max-width: inherit;
		margin: 0;
	}

	.widget .search-form input[type="search"] {
		width: 65%;
	}

	.navigation,
	.navigation-comments,
	.pagination {
		font-size: 14px;
	}

	img.alignleft,
	img.alignright {
		max-width: 50%;
	}

	.divider {
		height: 40px;
	}

	p {
		margin: 0 0 20px;
	}

	.site-content {
		display: block;
		padding: 0 4.5455%;
	}

	.site-content .content-area {
		margin: 0 0 100px;
	}

	.visual h1 {
		font-size: 60px;
	}

	.about-block {
		padding: 90px 0;
	}

	.about-block .text-frame {
		margin: 0 auto 70px;
	}

	.items-holder {
		margin: 0 -20px;
	}

	.items-holder .item {
		padding: 0 20px;
	}

	.product-block .title {
		font-size: 30px;
	}

	.product-block .price {
		font-size: 22px;
	}

	.product-block .btn {
		padding: 11px 20px;
	}

	.product-settings {
		display: block;
	}

	.product-settings.left-active .left-area {
		width: 100%;
	}

	.product-settings.left-active .left-area h2 {
		left: 0;
	}

	.product-settings.left-active .left-area .opener {
		right: 30px;
	}

	.product-settings.left-active .left-area .toggle-block {
		margin: 0 auto;
		padding: 0;
	}

	.product-settings.left-active .right-area {
		width: 100%;
	}

	.product-settings.right-active .right-area {
		width: 100%;
	}

	.product-settings.right-active .right-area .opener {
		right: 30px;
	}

	.product-settings.right-active .right-area .toggle-block {
		margin: 0 auto;
		padding: 0;
	}

	.product-settings.right-active .left-area {
		width: 100%;
	}

	.product-settings .left-area {
		width: 100%;
	}

	.product-settings .left-area .title-area {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.product-settings .right-area {
		width: 100%;
		border-left: none;
		border-top: 1px solid #fff;
	}

	.product-settings .right-area .title-area {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.product-settings .right-area .slider-nav {
		right: 100px;
	}

	.product-settings .right-area .side-holder {
		right: 28px;
		bottom: 35px;
	}

	.toggle-block {
		width: 100%;
		max-width: inherit;
		padding: 60px 30px;
	}

	.toggle-block .opener {
		margin: 0 0 0 40px;
	}

	.toggle-block .slide-area {
		padding: 40px 80px;
	}

	.description-block {
		padding: 50px 0;
		line-height: 1.8;
	}

	.description-block .block-holder {
		padding: 40px 0;
	}

	.description-block .text-holder .frame {
		padding: 20px 0 50px;
	}

	.description-block h2 {
		font-size: 24px;
		margin: 0 0 10px;
	}

	.social-section {
		padding: 80px 0 50px;
	}

	.social-section h2 {
		font-size: 30px;
		letter-spacing: 0;
	}

	.social-section .link {
		font-size: 22px;
		margin: 0 0 45px;
	}

	.footer-holder {
		padding: 70px 0;
	}

	.footer-holder .social-networks {
		margin: 39px 0 0 0;
	}

	.footer-holder h2 {
		font-size: 18px;
	}

	.footer-holder .links-list li {
		margin: 0 20px 0 0;
	}

	.footer-logo {
		margin-top: -44px;
	}
}

@media screen and (max-width: 782px) {
	html[lang] {
		margin-top: 0 !important;
	}

	.admin-bar #header {
		top: 0;
	}

	#wpadminbar {
		display: none !important;
	}
}

@media (max-width: 767px) {
	input[type="file"] {
		width: 100%;
	}

	.main-block {
		padding: 35px 0;
	}

	.widget .search-form input[type="search"] {
		width: 50%;
	}

	.navigation .page-numbers,
	.navigation-comments .page-numbers,
	.pagination .page-numbers {
		padding: 10px 8px;
	}

	.navigation .page-numbers,
	.navigation-comments .page-numbers,
	.pagination .page-numbers {
		padding: 8px;
	}

	.navigation .next a,
	.navigation .prev a,
	.navigation .al a,
	.navigation .ar a,
	.navigation-comments .next a,
	.navigation-comments .prev a,
	.navigation-comments .al a,
	.navigation-comments .ar a,
	.pagination .next a,
	.pagination .prev a,
	.pagination .al a,
	.pagination .ar a {
		padding: 10px;
	}

	.navigation-single .next a,
	.navigation-single .prev a {
		padding: .2em;
	}

	.posts-list .post {
		margin: 0 0 20px;
	}

	.commentlist {
		margin-left: 0;
	}

	.commentlist .comment {
		padding: 0;
	}

	.divider {
		display: none;
	}

	p {
		margin: 0 0 15px;
	}

	.nav-opener.icon-basket {
		margin: 0 0 0 35px;
	}

	#header .container {
		padding-top: 25px;
		padding-bottom: 30px;
	}

	.visual {
		height: calc(100vh - 82px);
		min-height: 350px;
	}

	.visual .text-area {
		padding: 45px 0 30px;
	}

	.visual .sub-title {
		font-size: 14px;
		margin: 0 0 10px;
	}

	.visual h1 {
		font-size: 42px;
		margin: 0 0 45px;
	}

	.visual .btn {
		font-size: 14px;
		padding: 12px 20px;
	}

	.about-block {
		padding: 55px 0;
	}

	.about-block .text-frame {
		margin: 0 auto 40px;
	}

	.about-block h2 {
		font-size: 28px;
		margin: 0 0 30px;
	}

	.items-holder {
		margin: 0 -10px;
	}

	.items-holder .item {
		padding: 0 10px;
	}

	.items-holder h3 {
		letter-spacing: 2.3px;
		margin: 0 0 15px;
	}

	.slider-base {
		max-width: 500px;
		margin: -90px auto 0;
	}

	.product-settings.left-active .left-area .opener {
		right: 15px;
	}

	.product-settings.right-active .right-area h2 {
		left: -10px;
	}

	.product-settings.right-active .right-area .opener {
		right: 15px;
	}

	.product-settings .right-area .sub-slider-holder {
		width: 200px;
	}

	.product-settings .right-area .slider-nav {
		right: 160px;
	}

	.product-settings .right-area .side-holder {
		right: 120px;
		bottom: 40px;
	}

	.product-settings .remove {
		margin: 0;
		padding-top: 0;
	}

	.sub-slider-holder {
		width: 200px;
	}

	.sub-slider-top,
	.sub-slider-base {
		margin: 0;
	}

	.sub-slider-top .slide,
	.sub-slider-base .slide {
		padding: 0;
	}

	.slider-nav {
		right: 160px;
	}

	.slider-nav .slick-arrow {
		right: 20px;
	}

	.slider-nav .slick-arrow.prev,
	.slider-nav .slick-arrow.prev-base {
		right: auto;
		left: 20px;
	}

	.side-holder {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		right: 65px;
		bottom: 30px;
	}

	.side-holder .size-nav {
		margin: 0 0 20px;
	}

	.remove-block {
		padding: 60px 0;
	}

	.description-block {
		padding: 30px 0;
		font-size: 14px;
	}

	.description-block .block-holder {
		padding: 30px 0;
	}

	.description-block .img-holder {
		width: 50%;
	}

	.description-block .text-holder {
		width: 50%;
		margin: 0;
	}

	.social-section {
		padding: 45px 0 30px;
	}

	.social-section .links-img {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.social-section .link-img {
		width: 50%;
	}

	.footer-holder {
		text-align: center;
		padding: 50px 0 20px;
	}

	.footer-holder .row {
		display: block;
		margin: 0;
	}

	.footer-holder .col {
		width: 100%;
		padding: 0 0 35px;
	}

	.footer-holder .social-networks {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin: 35px 0 0;
	}

	.footer-holder .social-networks li {
		margin: 0 15px;
	}

	.footer-holder .holder {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}

	.footer-holder h2 {
		margin: 0 0 12px;
	}

	.footer-holder .links-list {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.footer-holder .links-list li {
		margin: 0 15px;
	}

	.footer-logo {
		position: static;
		margin: 0 0 35px;
	}

	.form-block {
		max-width: 250px;
		margin: 0 auto;
		text-align: center;
	}

	.form-block .form-control {
		margin: 0;
	}
}

@media (max-width: 666px) {
	#wp-calendar {
		width: 100%;
	}

	.comment-form textarea,
	.comment-form input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]) {
		width: 100%;
	}

	.parent.comment .comment {
		margin-left: 5%;
	}

	.site {
		margin: 20px 15px;
	}

	.entry-header h1,
	.entry-title h1 {
		font-size: 24px;
	}

	.cross-sells h2 {
		font-size: 18px;
	}

	.woocommerce .quantity .qty {
		padding: .35em .35em;
	}

	.nav-slide {
		width: 300px;
	}

	.nav-slide .slide-holder {
		padding: 30px;
	}

	.nav-opener .close {
		top: 30px;
		right: 30px;
	}

	.visual h1 {
		font-size: 32px;
		margin: 0 0 30px;
	}

	.about-block {
		padding: 40px 0;
	}

	.about-block h2 {
		font-size: 26px;
		letter-spacing: 1.5px;
		margin: 0 0 15px;
	}

	.items-holder {
		display: block;
		margin: 0;
	}

	.items-holder .item {
		width: 100%;
		padding: 0 0 35px;
	}

	.items-holder .ico {
		min-height: 0;
		margin: 0 0 20px;
	}

	.product-block .title {
		font-size: 18px;
	}

	.product-block .price {
		font-size: 18px;
	}

	.product-block .btn {
		font-size: 13px;
		padding: 10px 12px;
	}

	.size {
		bottom: -16px;
		font-size: 12px;
		margin-left: -73px;
	}

	.slider-base {
		max-width: 280px;
		margin-top: -48px;
	}

	.product-settings.left-active .left-area h2 {
		left: -23px;
	}

	.product-settings.left-active .left-area .opener {
		margin-top: -15px;
	}

	.product-settings.left-active .left-area .toggle-block .slide-area {
		display: block;
	}

	.product-settings.right-active .right-area h2 {
		left: -29px;
	}

	.product-settings.right-active .right-area .toggle-block .slide-area {
		display: block;
	}

	.product-settings .right-area .sub-slider-holder {
		width: 100%;
	}

	.toggle-block {
		padding: 0 !important;
	}

	.toggle-block .title-area {
		padding: 50px 20px;
	}

	.toggle-block .opener {
		width: 32px;
		height: 32px;
	}

	.toggle-block .opener .icon-click {
		font-size: 14px;
	}

	.toggle-block .slide-area {
		padding: 40px 50px;
		text-align: center;
	}

	.sub-slider-holder {
		width: 100%;
		margin: 0 0 35px;
	}

	.slider-nav {
		position: static;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin: 20px 0 0;
	}

	.slider-nav .slick-arrow {
		bottom: -30px;
	}

	.side-holder {
		position: static;
	}

	.side-holder ul {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.side-holder ul li {
		margin: 0 7px;
	}

	.remove-block {
		line-height: 1.5;
		padding: 40px 15px;
	}

	.description-block .block-holder {
		display: block;
	}

	.description-block .img-holder:after {
		display: none;
	}

	.description-block .img-holder {
		width: 100%;
		margin: 0 0 20px;
	}

	.description-block .text-holder {
		width: 100%;
	}

	.description-block .text-holder .frame {
		max-width: inherit;
		width: 100%;
		padding: 0;
	}

	.social-section h2 {
		font-size: 28px;
		margin: 0 0 20px;
	}

	.social-section .link {
		font-size: 18px;
		margin: 0 0 30px;
	}

	.social-section .links-img {
		display: block;
	}

	.social-section .link-img {
		width: 100%;
	}

	.footer-holder {
		padding: 35px 0 5px;
	}
}

@media (max-width: 374px) {
	.navigation,
	.navigation-comments,
	.pagination {
		font-size: 12px;
	}

	.woocommerce table.shop_table td {
		padding: 10px;
	}

	.woocommerce #content table.cart td.actions .input-text,
	.woocommerce table.cart td.actions .input-text,
	.woocommerce-page #content table.cart td.actions .input-text,
	.woocommerce-page table.cart td.actions .input-text {
		margin: 0 0 8px;
	}

	.woocommerce #content table.cart td.actions .coupon .button,
	.woocommerce #content table.cart td.actions .coupon .input-text,
	.woocommerce #content table.cart td.actions .coupon input,
	.woocommerce table.cart td.actions .coupon .button,
	.woocommerce table.cart td.actions .coupon .input-text,
	.woocommerce table.cart td.actions .coupon input,
	.woocommerce-page #content table.cart td.actions .coupon .button,
	.woocommerce-page #content table.cart td.actions .coupon .input-text,
	.woocommerce-page #content table.cart td.actions .coupon input,
	.woocommerce-page table.cart td.actions .coupon .button,
	.woocommerce-page table.cart td.actions .coupon .input-text,
	.woocommerce-page table.cart td.actions .coupon input {
		width: 100%;
	}

	.visual h1 {
		font-size: 28px;
	}

	.slider-base {
		max-width: 240px;
		margin-top: -37px;
	}
}
